<div class="product-template product-template-full-width">
  <div class="bg-breddcrumb">
    <div class="container-padd60">
      {% if collection %}
      <div class="next_prev-groups">
        {% include 'breadcrumb' %}
        {% include 'next-prev-product' %} 	
      </div>

      {% else %}
      {% include 'breadcrumb' %}
      {% endif %}
    </div>
  </div>

  <div class="container-padd60">
    <div class="halo-product-content">
      <div class="pro-page">
        {% section 'product-template-full-width' %}
      </div>

      {% section 'recently-viewed-products' %}
    </div> 
  </div>
</div>

{% if template contains 'product' %}

<div class="modal fade halo_modal-custom" id="video_product" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <a data-dismiss="modal" class="close close-modal" title="{{ 'cart.ajax_cart.close' | t }}" href="javascript:void(0)">
          {% include 'icon-close' %}
        </a>
      </div>

      <div class="modal-body">
        <div class="videoWrapper">
          {%  if product.description contains 'iframe' %}
          {% assign src = product.description | split:'<iframe' | last | split:'</iframe>' | first %}
          <iframe {{src}}> </iframe>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footbar-fixed footbar-fixed-product">
  {% section 'someone-purchased' %}
  {% section 'GDPR-modal' %}

  {% if settings.display_sticky %} 
  {% include 'sticky-add-to-cart' %}
  {% endif %}
</div>
{% endif %}