<div class="product-template product-template-default">
  <div class="">
      <div class="halo-product-content">
      <div class="pro-page">
        {% section 'product-template-swatch' %}
      </div>
    </div>   
  </div>
</div>
<div class="footbar-fixed footbar-fixed-product">
  {% section 'GDPR-modal' %}
</div>
