<section class="related-products-phy">
{% if section.settings.related_products_title != '' %}
  {% if settings.enable_multilang %}
    <h2 class="lang1">{{ section.settings.related_products_title | split: '|' | first }}</h2>
    <h2 class="lang2">{{ section.settings.related_products_title | split: '|' | last }}</h2>
    {% else %}
    <h2>{{ section.settings.related_products_title | split: '|' | first }}</h2>
  {% endif %}
{% endif %}
 <div id="slider-related" class="products-grid {{ class }}" data-row="3">
{% assign current_product = product %}
{% assign current_product_tags = product.tags %}
{% assign found_first_match = false %}
{% assign found_second_match = false %}
{% assign first_related_product = true %}

{% paginate collections.all.products by 8 %}
{% for product in collections['phy-x-plum'].products %}
  {% unless product.handle == current_product.handle %}
    {% for tag in product.tags %}
      {% if current_product_tags contains tag %}
        {% if found_first_match == false %}
          {% assign found_first_match = true %}
          {% assign first_match = tag %}
        {% elsif found_second_match == false %}
          {% assign found_second_match = true %}
          {% assign second_match = tag %}
        {% endif %}
      {% endif %}
    {% endfor %}

      {% if found_first_match == true %}
      {% if product.tags contains first_match or product.tags contains second_match %}
      <div class="{% if settings.product_image_border %}grid-item-border{% endif %}  grid-item col-xs-6 col-sm-4 {% if product_grid == 3 %}col-md-3{% endif %} col-lg-3">
        {% include 'product-grid-item' with collection.handle%}
      </div>
      {% endif %}
      {% endif %}
  {% endunless %}
{% endfor %}
{% endpaginate %}
</div>
</section> 


<script async>
 $(document).ready(function(){$("#slider-related").slick({infinite:!1,slidesToShow:3,slidesToScroll:1,arrows:!0,dots:!0,responsive:[{breakpoint:1024,settings:{slidesToScroll:1,slidesToShow:3}},{breakpoint:991,settings:{slidesToScroll:1,slidesToShow:3}},{breakpoint:767,settings:{slidesToScroll:1,slidesToShow:2}},{breakpoint:575,settings:{slidesToScroll:1,slidesToShow:1}}]})});
</script>

