<a href="javascript:void(0)" id="scm-trigger">
    <span>Spin to win</span>
    <img src="https://d2i6wrs6r7tn21.cloudfront.net/publish/images/pngs/small-spin.png" alt="Spinner icon">
</a>
<div id="scm-iframe" class="always-hide">
    <iframe id="sscm-iframe" frameborder="0" src="https://d2i6wrs6r7tn21.cloudfront.net/sources/12483/iframe.1639470719.html"></iframe>
</div>