{% if settings.enable_wishlist %}
<a class="wishlist" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id }}" onclick()="func(); ">
    <i class="fa fa-heart" aria-hidden="true"></i>
  {% comment %}  
  <span class="wishlist-text text-hover" {% if settings.enable_multilang %}data-translate="wishlist.general.add_to_wishlist"{% endif %} >
        {{ 'wishlist.general.add_to_wishlist' | t }}
    </span>
   {% endcomment %}  
</a>
{% endif %} 
