<div class="page-tpl empties_good">
    {% comment %}
    Regular page content goes here.
    {% endcomment %}
  
    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  
    <div class="top-banner">
      {% comment %}{% section 'simple-banner' %} {% endcomment %}
      <section class="sub-page-banner-section">
        <div class="main-top-banner-sec">
          <a href="#" class="">
            <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktop_banner.jpg?v=1581505305" src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktop_banner.jpg?v=1581505305" class="desktop-xs lazyautosizes lazyloaded" data-sizes="auto">
            <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktopmob_banner.jpg?v=1581505304" src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktopmob_banner.jpg?v=1581505304" class="mobile-xs lazyautosizes lazyloaded" data-sizes="auto">
          </a>
        </div>
  
        <div class="container">
          <div class="container_1">
            <p>What's left in your plum bottle once<br>you've used up all the goodness inside?</p>
            <p>More goodness!</p>
            <p>Here's how.</p><p>First up, you perhaps already know that only recyclable packaging is used to package plum goodness.</p><p>Not wanting to stop there, we're now making it easier (and rewarding) for you to actually recycle your plum empties. Send your empties to us, and we'll connect it to a verified recycler (we give it away free).<br>And for every empty you send us, we'll reward you with Rs. 50 in shopping credits on plumgoodness.com!</p><p>Happier plumsters, happier planet.</p>
  
          </div>
  
          <div class="container_2">
            <h3 style=" text-transform: initial;">Join the #Empties4Good campaign today</h3>
            <div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8ybju8sdRJNLnm2la7gFRv_ua3v74j4hWFa04MUYUv_P2dA/viewform" class="join_now">Send plum empties now</a>
            </div>
          </div>
        </div>
        <div class="video-and-tab-sec">
          <div class="container">
            <div class="container_3">
              <h3>Recycling is easier than you think!</h3>
              <div class="videoWrapper">
                <iframe width="560" height="349" data-video-id="8MYHIhKaNv4" src="https://www.youtube.com/embed/8MYHIhKaNv4?enablejsapi=1&amp;rel=0&amp;autoplay=0" frameborder="0" allowfullscreen="" volume="0"></iframe>
              </div>
            </div>
            <div class="empties-tab-section">
              <ul class="tabs">
                <li class="active" rel="tab1"><a href="#steps_1"><span>Step 01</span> <span></span></a></li>
                <li rel="tab2"><a href="#steps_2"><span>Step 02</span> <span></span></a></li>
                <li rel="tab3"><a href="#steps_3"><span>Step 03</span> <span></span></a></li>
                <li rel="tab4"><a href="#steps_4"><span>Step 04</span> <span></span></a></li>
              </ul>
              <div class="tab_container">
                <div id="steps_1">
                  <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
                  <div id="tab1" class="tab_content">
                    <div class="content-infos">
                      <div class="left-content">
                        <h3> Fill out our empties form <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8ybju8sdRJNLnm2la7gFRv_ua3v74j4hWFa04MUYUv_P2dA/viewform" style="color: #5e0c8c;text-decoration: underline">here</a></h3>
  <!--                       <p><a href="#steps_2" class="btn nexttab" rel="tab2" >next step</a></p> -->
                      </div>
                      <div class="right-content">
                        <div class="infos">
                          <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/2020-02-12.png?v=1581515205" src="https://cdn.shopify.com/s/files/1/0390/2985/files/2020-02-12.png?v=1581515205" class="lazyautosizes lazyloaded">
                          <div class="hidden-xs">Once you've used up all the goodness in your plum bottle, fill out our empties form</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #tab1 -->
                <div id="steps_2">
                  <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
                  <div id="tab2" class="tab_content">
                    <div class="content-infos">
                      <div class="left-content">
                        <h3>Clean & prep your plum empties</h3>
  <!--                       <p><a href="#steps_3" class="btn nexttab" rel="tab3">next step</a></p> -->
                      </div>
                      <div class="right-content">
                        <div class="infos">
                          <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/2_Cleanup_the_goodness_box.png?v=1577543483" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/2_Cleanup_the_goodness_box.png?v=1577543483" class="lazyautosizes lazyloaded">
                          <div class="hidden-xs">Clean up & keep your plum empties ready (plastic empties only!)</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #tab2 -->
                <div id="steps_3">
                  <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
                  <div id="tab3" class="tab_content">
                    <div class="content-infos">
                      <div class="left-content">
                        <h3>Send us back<br> your empties</h3>
  <!--                       <p><a href="#steps_4" class="btn nexttab" rel="tab4">next step</a></p> -->
                      </div>
                      <div class="right-content">
                        <div class="infos">
                          <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/3_send_it_back_yours_empties.png?v=1577543483" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/3_send_it_back_yours_empties.png?v=1577543483" class="lazyautosizes lazyloaded">
                          <div class="hidden-xs">Send your empties back to the address given on this page-you can even ask for a free pickup</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #tab3 -->
                <div id="steps_4">
                  <h3 class="tab_drawer_heading" rel="tab4">Tab 4</h3>
                  <div id="tab4" class="tab_content">
                    <div class="content-infos">
                      <div class="left-content">
                        <h3>Receive your plum rewards!</h3>
                      </div>
                      <div class="right-content">
                        <div class="infos">
                          <img data-src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/5_Receive_your_plum_rewards.png?v=1577543483" src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/5_Receive_your_plum_rewards.png?v=1577543483" class="lazyautosizes lazyloaded">
                          <div class="hidden-xs">For each empty sent, earn<br> Rs. 50 in shopping credits on<br> plumgoodness.com!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #tab4 --> 
                <!-- #tab3 -->
                <!--               <h3 class="tab_drawer_heading" rel="tab5">Tab 5</h3>
                  <div id="tab5" class="tab_content">
                  <div class="content-infos">
                  <div class="left-content">
                  <h3>Receive your<br>plum awards</h3>
                  <div class="visible-xs">You will receive your Plum rewards as you contributed for a happier planet</div>
                  </div>
                  <div class="right-content">
                  <div class="infos">
                  <img src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/5_Receive_your_plum_rewards.png?v=1577543483">
                  <div class="hidden-xs">You will receive your Plum rewards as you contributed for a happier planet</div>
                  </div>
                  </div>
                  </div>
                  </div> -->
                <!-- #tab4 --> 
              </div>
              <!-- .tab_container -->
            </div>
          </div>
        </div>
        <div class="container">
          <div class="img-with-content-section">
            <h3>Send us your empties in one of the following ways </h3>
            <div class="content-infos left-img-right-content">
              <div class="left-img-data">
                <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/do_it_yourself.png?v=1581505546" src="https://cdn.shopify.com/s/files/1/0390/2985/files/do_it_yourself.png?v=1581505546" class="lazyautosizes lazyloaded">
              </div>
              <div class="right-img-data">
                <h3>Do it yourself</h3>
                <p>Simply put your plum plastic empties in a box or a strong envelope (if that will work) and mail it to the address below. Don't forget to write your email address and mobile number so we know where to send your gift vouchers!</p>
                <p><b>Shipping address:</b><br>Pureplay skin sciences pvt ltd building no.60, gala no.101, first floor, Indian corporation, Mumbai Nasik hightway, Village: Gundavali, Bhiwandi, Dist: Thane, 421302 </p>
              </div>
            </div>
            <div class="content-infos left-content-right-img">
              <div class="left-content">
                <h3>Request a free pickup</h3>
                <p>If you want us to arrange a pickup for you, <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8ybju8sdRJNLnm2la7gFRv_ua3v74j4hWFa04MUYUv_P2dA/viewform">Fill out our empties form <span style="text-decoration: underline;">here</span>.</a></p>
              </div>
              <div class="right-img-data">
                <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/free_pickup.png?v=1581505612" src="https://cdn.shopify.com/s/files/1/0390/2985/files/free_pickup.png?v=1581505612" class="lazyautosizes lazyloaded">
              </div>
            </div>
          </div>
  
          <!-- Faq Section start -->
          <div class="empties-faqs-section">
            <h3>Frequently asked questions</h3>
            <div class="accordion_container">
              <div class="acc_head"><span class="q-title">What precautions should I take before sending back the empties?</span></div>
              <div class="acc_body">
                <p>Make sure the bottle is fully empty, washed and dried. Pack it securely so it doesn't break in transit.</p>
              </div>
              <div class="acc_head"><span class="q-title">What can I send and not send?</span></div>
              <div class="acc_body">
                <p>a. Send only Plum empties please (we are a beauty company, not recyclers ourselves)!<br>
                  b. Send only plastic bottles, caps or jars. Glass is safe enough to be discarded in trash.<br>
                  c. Send only empties - not half-empties! </p>
              </div>
              <div class="acc_head"><span class="q-title">How does the pickup work?</span></div>
              <div class="acc_body">
                <p>a. In case you wish to do it yourself, make sure you're ready with your empties, packed in a good quality box with the shipping address mentioned above. You can reuse your Plum shippers!<br>
                  b. If you want us to arrange a pickup, fill out our empties form <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8ybju8sdRJNLnm2la7gFRv_ua3v74j4hWFa04MUYUv_P2dA/viewform" style="text-decoration: underline">here</a>.</p>
              </div>
              <div class="acc_head"><span class="q-title">When & how will I receive my gift voucher?</span></div>
              <div class="acc_body">
                <p>You will receive shopping credits worth Rs. 50 in your inbox within 10-15 days from the day of pickup </p>
              </div>
            </div>
          </div>
          <!-- Faq section End  -->
  
        </div>
  
        </div>
  
      <script>
        
        $(".empties-tab-section").tabs();
        $(".nexttab").click(function() {
          $(".empties-tab-section").tabs("select", this.hash);
        });
      </script>
  
  
      <style>
        .empties_good .container_1 {
          text-align: left;
          margin-top: 34px;
        }
        .acc_body {
          padding-bottom: 10px;
          line-height: 26px;
          padding: 0 25px 26px 14px;
          border-bottom: 1px solid #505050ab;
        }
        .empties_good .container_1 p:nth-child(1) {
          color: #5e0c8c;
          font-weight: 400;
          font-family: roboto;
        }
        #empties4good h3 {
          font-weight: 400;
          font-family: roboto;
          color: #5e0c8c;
          margin-bottom: 20px;
        }
        .empties_good .container_2 h3 {
          color: #fff !important;
        }
        .right-content img{
          max-width:200px;
        }
        .acc_head {
          padding: 26px 10px 0;
          margin-bottom: 15px;
          text-align: left;
          font-weight: 400;
          font-size: 18px;
          color: #5e0c8c;
        }
        .acc_head:nth-child(1) {
          padding-top: 10px;
        }
        @media ( max-width: 767px ) {
          .acc_head {
            padding: 20px 10px 0;
          }
          .acc_body {
            padding: 0 25px 20px 14px;
          }
        }
  
      </style>
       {% schema %}
       {
       "name": "empties4good",
       "settings": [
       ]
       }
       {% endschema %}     