<script>
    var url_string = window.location.href
  var url = new URL(url_string);
  var email = url.searchParams.get("email");
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)){
        window.dataLayer.push({
          'event':'unsubscribe',
          'email':email
        })
    }
    else{
        alert("You are not allowed to view this page")
    }
    
  console.log(c);
  </script>
  <!DOCTYPE html>
  <head>
      <style >
          h2
          {
              color: #5b128a;
              margin-left: 5%
                
          }
          p
          {
              color: #5b128a;
              margin-left: 5%;
                margin-right:5%;
            font-size:larger
          }
          button {
            font-size: 16px;
            height: 8%;
            width: 15%;
            background-color: #676667;
            color: white;
            padding: 8px 0px;
            text-align: center;
            margin-left: 5%;
            margin-top: 20%;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            border-radius: 5px;
          }
        a{
            transition: all 0.3s ease;
          color: blue;
        }
        a:hover{
            transition: all 0.3s ease;
          color: blue;
          background-color:white
        }
          .img-responsive {
            display: block;
          }
          .img-responsive.mobile {
          display: none;
        }
  
        @media only screen and (max-device-width: 480px) {
          .img-responsive {
            display: none;
          }
          .img-responsive.mobile {
            display: block;
          }
        }
      </style>
  </head>
  
  <body>
      <div style="background-color: #AE8CC3 ;">
          <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Plum_logo_300_x200_PNG.png?v=1599124748" style="padding-top:5% ;padding-left:25%; height:80%; ">
          <div style="background-color: #DFD1E8; width: 80%; margin: 0px auto 0px auto;">
              <h2 style="padding-top: 5%">We'll miss you, Plumster</h2>
              <p style="padding-top: 5%">You've been successfully unsubscribed from the Plum Goodness mail list.</p>
            <p>If you ever want to come back, for updates on new launches, big sales, exclusive content & more, just let us know on <a href="mailto:hello@plumgoodness.com"> hello@plumgoodness.com</a> and we'll sign you up</p>
              <!--p>Click the button below</p>
              <button type="submit">Unsubscribe</button-->
              <div class=".img-responsive">
                <div style="height:150px">
                </div>
            </div>
              <br>
          </div>
          <br>
          <br>
      </div>
  </body>

  {% schema %}
{
"name": "unsubscribe",
"settings": [
]
}
{% endschema %}