@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

#plum-bodylovin-caramel-popcorn-bodycare main.main-content {
    padding-bottom: 0;
}

.caramel {
    position: relative;
}

.section_main_caramel {
    background-size: 100% !important;
    background-repeat: no-repeat;
}


.first_section {
    position: relative;
    z-index: 0;
    background-size: 100% !important;
    padding-top: 30px;
}


.section_main_caramel .cs_container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}



.caramel-video {
    padding: 0 3rem;
}

.caramel-video .caramel-video_inner {
    position: relative;
    overflow: hidden;
    padding-bottom: 38.33%;
    border-radius: 0 0px 100px 100px;
}

.caramel-video .caramel-video_inner video {
    max-height: inherit;
    height: auto!important;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

.caramel-gif .caramel_im_main {
    margin-top: -110px;
    position: relative;
    z-index: 1;
    padding-left: 3rem;
  padding-right: 1rem;
}

.first_section {
    padding-bottom: 32.66%;
    background-repeat: no-repeat;
}

.gift-guaranty {
    margin-top: -33rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1240px;
    position: relative;
    z-index: 11;
}

.third-section_main_outer {
    margin-top: -11.5rem;
    position: relative;
    margin-bottom: 0rem;
    z-index: 1;
}

.text_caramel_cs img {
    margin: 20px 0;
}

#plum-bodylovin-caramel-popcorn-bodycare main.main-content {
    padding-bottom: 0;
}

.popcorn-inner-sec {
    width: 100%;
    background-size: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.third-section {
    background-position: bottom center;
    padding-bottom: 3.7rem;
    background-repeat: no-repeat!important;
    background-size: 100% !important;
}



.text_caramel_cs .date_cs {
    color: #e2211c;
    font-size: 75px;
    font-weight: 900;
    padding-bottom: 24px;
    font-family: Lato,sans-serif;
    margin-bottom: 0;
    padding-top: 7px;
}

img.after {
    display: none;
}

.popcorn-inner-sec {
    text-align: center;
}

.caramel-gif {
    text-align: center;
}

.gift-sec {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: flex-end;
}
div#shopify-section-caramel-section {
    position: relative;
    overflow: hidden;
}

.gift-sec .col-nml:nth-of-type(2) {
    top: -40px;
    position: relative;
}

.text_caramel_cs .date_cs {
    text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff;
}



#plum-bodylovin-caramel-popcorn-bodycare .page-tpl {
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/newupdated_caramel-sauce-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#plum-bodylovin-caramel-popcorn-bodycare .page-tpl .container-fuild {
    position: relative;
    z-index: 11;
}

.text_caramel_cs {
    text-align: center;
    margin-top: -18rem;
    position: relative;
    z-index: 11;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.text_caramel_cs img {
    margin: 0;
}

.popcorn-inner-sec {
    position: relative;
    z-index: 11;
    padding-bottom: 16%;
    background-repeat: no-repeat;
    padding-top: 3%;
    background-position: center!important;
    background-size: 100% !important;
  min-height: 900px;
}

.popcorn img {
    width: 100%;
    max-width: 540px;
    cursor: pointer;
}

.third-section {
    position: relative;
}

.third-section:before {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/left_popcorn_bg_small_19510e20-5136-44d4-92e4-ffb30fe30cfe.png');
    display: block;
    width: 29%;
    display: block;
    position: absolute;
    z-index: 111;
    bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 23%;
  left:0;
}


.third-section:after {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0390/2985/files/right_popcorn_small_c99929c2-3bb2-4c0c-ba63-92509e0607b8.png);
    width: 37%;
    display: block;
    position: absolute;
    z-index: 111;
    bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 13%;
    right: 0;
}


@media only screen and (min-width:768px){

img.mobile {
    display: none !important;
}

}


/*@media only screen and (max-width:1600px){
  
  .section_main_caramel .cs_container {
    width: 100%;
    max-width: 1400px;
}
  
  .first_section {
    padding-bottom: 13rem;
    background-repeat: no-repeat;
}
  
.gift-guaranty {
    margin-top: -20rem;
    width: 100%;
    max-width: 1375px;
    position: relative;
  z-index: 11;
}
  
.gift-sec {
    max-width: 1020px;
}
  
.popcorn-inner-sec {
    max-width: 1050px;
    margin: 0 auto;
}
  

  
  .popcorn {
    padding-top: 30px;
}
  
.popcorn img {
    width: 100%;
    max-width: 680px;
}
  
.text_caramel_cs {
    text-align: center;
    margin-top: -13rem;
}
  
  
.text_caramel_cs .date_cs {
    padding-bottom: 0;
}
  
}*/

@media only screen and (min-width:2100px){ 
  
 .text_caramel_cs {
    margin-top: -21rem;
}
  
.popcorn-inner-sec {
    padding-bottom: 15%;
    padding-top: 120px;
}
  
.third-section_main_outer {
    margin-top: -15.5rem;
}
  
}

@media only screen and (max-width:1600px){
  
  .section_main_caramel .cs_container {
    width: 100%;
    max-width: 1230px;
}
  
  
  .caramel-gif .caramel_im_main {
    width: 100%;
}
  
  
  
  .gift-guaranty {
    max-width: 1200px;
}
  
.third-section:before {
    width: 27%;
    padding-bottom: 22%;
}
  
.third-section:after {
    width: 34%;
}
  
}

@media only screen and (max-width:1450px){
  
.popcorn-inner-sec {
    padding-top: 70px;
}
  
}

@media only screen and (max-width:1350px){
  
.third-section:before {
    width: 20%;
    padding-bottom: 18%;
}
  
.third-section:after {
    width: 30%;
}
  
.section_main_caramel .cs_container {
    width: 100%;
    max-width: 1030px;
}
  
.gift-guaranty {
    max-width: 1010px;
    margin-top: -26rem;
}
  
.gift-sec {
    max-width: 800px;
}
  
.popcorn-inner-sec {
    max-width: 950px;
}
   
  
.third-section_main_outer {
    margin-top: -10rem;
}
  
.popcorn-inner-sec {
    padding-top: 50px;
    min-height: 780px;
}
  
.text_caramel_cs {
    margin-top: -14.5rem;
    max-width: 600px;
}
  
  .third-section:before {
    width: 27%;
    padding-bottom: 21%;
}
  
.third-section:after {
    width: 33%;
}
  
.third-section {
    padding-bottom: 1.1rem;
}
  
.popcorn img {
    max-width: 480px;
}
  
}

@media only screen and (max-width:1250px){
  
 .third-section:before {
    width: 25%;
    padding-bottom: 20%;
}
  
.third-section:after {
    width: 32%;
}
  
  
}

@media only screen and (max-width:1200px){
  
 .third-section:before {
    width: 23%;
    padding-bottom: 19%;
}
  
.third-section:after {
    width: 31%;
}
  
  
}

@media only screen and (max-width:1199px){
  
  .text_caramel_cs .date_cs {
    margin-bottom: 0;
    padding-bottom: 15px;
}
  
  .section_main_caramel .cs_container {
    max-width: 900px;
}
  
  .first_section {
     background-size: 100% 101%!important;
    padding-bottom: 10.66%;
    background-repeat: no-repeat;
}
 
  
.gift-sec {
    max-width: 700px;
}
  
.gift-guaranty {
    margin-top: -11rem;
    max-width: 880px;
}
  
.popcorn-inner-sec {
    max-width: 800px;
    margin: 0 auto;
}
  
  .caramel-gif .caramel_im_main {
    max-width: 1010px;
    width: 100%;
    padding-left: 3rem;
}
  
.popcorn {
    padding-top: 0;
}
  
  
.popcorn img {
    max-width: 450px;
}
  
.third-section_main_outer {
    margin-top: -12rem;
}
 
  
 .third-section {
    padding-bottom: 2.3rem;
}
  
.popcorn-inner-sec {
    padding-bottom: 5%;
    padding-top:6%;
}
  
.text_caramel_cs img {
    width: 100%;
    max-width: 580px;
}
  
 .text_caramel_cs {
    margin-top: -16rem;
    max-width: 500px;
}
  
.text_caramel_cs .date_cs {
    font-size: 55px;
}
  
.third-section:before {
    width: 25%;
    padding-bottom: 20%;
}
  
.third-section:after {
    width: 34%;
}
  
}

@media only screen and (max-width:1199px) and (min-width:1024px){
  
 .third-section {
    padding-bottom: 0.3rem;
}
  
.text_caramel_cs {
    margin-top: -14.5rem;
}
.popcorn-inner-sec {
    padding-top: 90px;
}
  
}

@media only screen and (max-width:1024px){
  
  .third-section:before {
    width: 23%;
    padding-bottom: 19%;
}
  
  
}


@media only screen and (max-width:1023px){
  
  .first_section {
    background-size: 100% 97%!important;
}

  .section_main_caramel .cs_container {
      max-width: 750px;
  }
  
 .caramel-video {
    padding: 0 2rem;
}
  
.caramel-video .caramel-video_inner {
    border-radius: 0 0 50px 50px;
}

  .caramel-gif .caramel_im_main {
    max-width: 760px;
    padding-right: 5px;
     margin-top: -60px;
    padding-left: 2rem;
}

  
  
.gift-guaranty {
    max-width: 740px;
  margin-top: -11rem;
}
  
.third-section_main_outer {
    margin-top: -10rem;
}
  
.popcorn-inner-sec {
    max-width: 600px;
}
  
  .gift-sec {
    max-width: 540px;
}
  
.text_caramel_cs .date_cs {
    font-size: 42px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 5px;
}
  
 .text_caramel_cs {
    margin-top: -12.5rem;
}
  
.text_caramel_cs img.desktop {
    max-width: 450px;
    width: 100%;
}
  
 .popcorn img {
    max-width: 300px;
}
  
.popcorn {
    padding-top: 10px;
}
  
 .third-section:before {
    width: 30%;
    padding-bottom: 23%;
    background-size: cover;
}
 
 .third-section {
    padding-bottom: 1.6rem;
}

.gift-sec {
    align-items: inherit;
}
  
.popcorn-inner-sec {
    padding-bottom: 11%;
    padding-top: 69px;
    height: auto;
  min-height: 595px;
}
  

  
.first_section {
    padding-bottom: 13.66%;
}

}


@media only screen and (max-width:767px){

img.desktop {
    display: none !important;
}
  
.text_caramel_cs img.desktop {
    display: block !important;
    margin: 0 auto;
    max-width: 310px;
}
  
  
.text_caramel_cs .date_cs {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
  
.text_caramel_cs .date_cs {
    text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}
  
.popcorn img {
    max-width: 210px;
}
  
.popcorn-inner-sec {
    max-width: 390px;
    min-height: 405px;
}
  
.gift-guaranty {
    max-width: 490px;
}
  
.section_main_caramel .cs_container {
    max-width: 500px;
}
  
.caramel-video {
    padding: 0 1.5rem;
}
  
  
.caramel-gif .caramel_im_main {
    margin-top: -40px;
}
  
.gift-sec {
    max-width: 340px;
}
  

  
.first_section {
    background-size: 100% 92% !important;
   padding-bottom: 5rem;
}
  
  
.gift-guaranty {
    margin-top: -9rem;
}
  
.third-section_main_outer {
    margin-top: -4rem;
}
  
.text_caramel_cs {
    margin-top: -8rem;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
  

  
.third-section:before {
    width: 33%;
    padding-bottom: 25%;
    background-size: 100%;
}
  
.third-section:after {
    width: 38%;
}
  
.third-section_main_outer {
    margin-top: -7rem;
}
  
.third-section {
    padding-bottom: .4rem;
}
  
.popcorn-inner-sec {
    padding-top: 50px;
}

}


@media only screen and (max-width:499px){
  
  .caramel-video .caramel-video_inner {
    border-radius: 0 0 20px 20px;
     padding-bottom: 55.33%;
    margin-top: -1rem;
}
 
  .section_main_caramel .cs_container {
    max-width: 350px;
}

  
.caramel-gif .caramel_im_main {
    max-width: 100%;
    margin-top: -20px;
    padding-left: 1.5rem;
    padding-right: 0;
}
  
  .gift-guaranty {
    margin-top: -8.5rem;
    max-width: 350px;
}
 
  
.popcorn-inner-sec {
    max-width: 290px;
    padding-top: 104px;
    padding-bottom: 9%;
    min-height: 440px;
}
  
.first_section {
    background-size: 100% 88%!important;
    padding-bottom: 5.5rem;
}
  
 .text_caramel_cs .date_cs {
    font-size: 26px;
    margin-bottom: 0;
    padding-bottom: 0;
}
  
  .text_caramel_cs img.desktop {
    max-width: 220px;
}
 
  
  .third-section {
    padding-bottom: .6rem;
    background-size: 100% 50%!important;
}

  
  .text_caramel_cs {
    margin-top: -11.2rem;
    position: relative;
    z-index: 999;
}
  
.third-section_main_outer {
    margin-top: -9.5rem;
}
  
.popcorn img {
    max-width: 135px;
}
  
.gift-sec {
    max-width: 260px;
}
  
.third-section:before {
    width: 23%;
    padding-bottom: 20%;
}
  
.third-section:after {
    width: 33%;
}
  
.text_caramel_cs img.desktop {
    left: -5px;
  position:relative;
}
  
}


/*@media only screen and (max-width:450px) and (min-width:400px){
  
  .popcorn-inner-sec {
    padding-top: 24%;
}
  
  
}*/

@media only screen and (max-width:350px){
  
  .section_main_caramel .cs_container {
    max-width: 290px;
}
  
.gift-guaranty {
    margin-top: -8.5rem;
    max-width: 290px;
}
  
.first_section {
    background-size: 100% 85%!important;
    padding-bottom: 5.5rem;
}
  
  .caramel-video {
    padding: 0 1rem;
}
  
.caramel-gif .caramel_im_main {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 0;
}
  
 .popcorn-inner-sec {
    max-width: 290px;
    padding-top: 90px;
    padding-bottom: 9%;
    min-height: 400px;
}
  
  .popcorn {
    padding-top: 15px;
}
  
  
  .third-section {
    padding-bottom: .6rem;
}
  
  .popcorn {
    padding-top: 8px;
}
  
 .text_caramel_cs {
    margin-top: -10rem;
}
 
 
.third-section_main_outer {
    margin-top: -7.8rem;
}
 
  
.third-section:before {
    width: 21%;
    padding-bottom: 17%;
}
  
.third-section:after {
    width: 27%;
}
  
}

