

#plum-bodylovin-caramel-popcorn-bodycare .page-tpl {
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/min_caramel_page_bg_updt_tpl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#plum-bodylovin-caramel-popcorn-bodycare .page-tpl>.container-fluid {
    max-width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative;
    z-index: 11;
}


div#shopify-section-caramel-sections {
    position: relative;
    overflow: hidden;

}

.second.section {
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.second.section .cs_container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.first_inner {
    position: relative;
    z-index: 111;
    background: url(https://cdn.shopify.com/s/files/1/0390/2985/files/caramel_red_bg_pl_im.png);
    background-size: 100% 97%;
    background-repeat: no-repeat;
    padding-bottom: 110px;
}

.caramel-video {
    padding: 0 3rem;
}

.caramel-video .caramel-video_inner {
    position: relative;
    overflow: hidden;
    padding-bottom: 38.33%;
    border-radius: 0 0 60px 60px;
}

.caramel-video .caramel-video_inner video {
    max-height: inherit;
    height: auto!important;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

video {width: 100%;}

img.im_p_cs_sale {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: block;
    margin-top: -70px;
}

img.im_p_cs_text {
    position: relative;
    z-index: 1;
    margin-top: -35px;
}

.pro-quality_im_pl {
    width: 100%;
    max-width: 1160px;
    margin: 40px auto 0px auto;
}

.sale-products_cs_contain {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.products_cs_contain-inner {
    position: relative;
    margin-top: -70px;
    text-align: center;
}

.products_cs_contain-inner:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/caramel_product_brown_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -180px;
    width: 100%;
    height: 100%;
    z-index: -11;
     min-height: 2250px;
}

.pd-sal_bn {
    width: 100%;
    max-width: 700px;
}

.pd-sal_bn-text {
    width: 100%;
    max-width: 550px;
    margin-top: 15px;
}

.newdiv {
    width: 100%;
    max-width: 510px;
    margin: 20px auto;
    display: flex;
    padding: 0 0 10px;
    justify-content: center;
}

.newdiv .lefttxt {
    float: left;
    font-size: 70px;
    font-weight: 900;
    color: #fdc743;
    text-shadow: 3px 4px 0px #a4110e;
}

.righttxt {
    float: left;
    text-align: left;
    padding-left: 10px;
    margin-top: -18px;
}

.righttxt span {
    display: block;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    color: #fdc743;
    letter-spacing: .5px;
    text-shadow: 2px 3px 0px #a4110e;
}

.shade-list, .shade-sizes {
    display: none !important;
}

.products-grid .grid-item:not(.grid-item-mansory) .product-grid-image:after
{
  
  display:none !important;

}

.sale-products .container {
    max-width: 100% !important;
}


.container-fluid .slick-arrow.slick-prev {
    background: #e2211c !important;
    color: #fff;
}

.container-fluid .slick-arrow.slick-next {
    background: #e2211c !important;
    color: #fff;
}

.featured-products .inner.product-item {
    border-radius: 10px;
    background: #fff;
}

.inner-top {
    width: 100%;
}

.product-item .product-top {
    position: relative;
    text-align: center;
}

.products-grid .product-image .product-grid-image {
    min-height: inherit;
    padding-bottom: 90%;
    overflow: hidden;
}

.products-grid .product-image .product-grid-image img {
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    object-fit: contain!important;
    height: 100%!important;
    min-height: inherit!important;
    -moz-transform: inherit!important;
    -o-transform: inherit!important;
    -ms-transform: inherit!important;
    -webkit-transform: inherit!important;
    transform: inherit!important;
}

 .featured-products .product-item .product-bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

.featured-products .product-item .product-bottom {
    min-height: 170px;
    padding-bottom: 15px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
}

.featured-products .jdgm-prev-badge__text {
    display: none;

  
}

.jdgm-preview-badge .jdgm-star.jdgm-star {
    font-size: 12px;
}

.featured-products a.product-title {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-height: 38px;
    min-height: 38px !important;
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 14px;
    padding-bottom: 0;
}


.featured-products .price-box {
    margin-top: 3px;
    margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
}

.featured-products .jdgm-widget {
    margin-bottom: 4px !important;
}

.featured-products .product-item .action {
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

#caramel-landing .featured-products .btn {
    background: #e2211c!important;
    color: #fff!important;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 10px;
    min-width: inherit;
    font-weight: 700;
    min-height: inherit;
    width: auto;
    box-shadow: none;
    margin-top: 0;
    min-width: 165px;
    text-transform: lowercase!important;
    box-shadow: none !important;
}

.featured-products .btn:hover {
    color: #fff!important;
   opacity:0.9;
}

.featured-products .product-item .price-box:before {
    content: "";
    width: 60px;
    height: 2px;
    background: #e2211c !important;
    display: block;
    margin: 2px auto 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.popcorn img {
    width: 100%;
    max-width: 540px;
    cursor: pointer;
}

img.after {
    display: none;
}

.popcorn-inner-sec {
    text-align: center;
    position: relative;
    margin-top: 0px;
}

.popcorn-video .video-wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    margin-top: -50px;
    padding-top: 26px;
}

.popcorn-video .video-container {
    position: relative;
    overflow: hidden;
    /*padding-bottom: 53%;*/
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    /* margin-top: -10px; */
  margin-top: 4px;
}

/*.popcorn-video .video-container video {
    max-height: inherit;
    height: 100% !important;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}*/

.popcorn-video .video-container .play-button-wrapper {
    position: absolute;
  cursor:pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.video-container .play-button-wrapper svg {
    fill: #fff;
    width: 50px;
    height: 50px;
    stroke: none;
}

.bottom-popcorn {
    position: relative;
    padding-bottom: 22%;
    background-size: 100% !important;
    background-repeat: no-repeat;
    margin-top: -150px;
}



.popcorn-video .video-wrapper:before {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/video_cover_upper.png');
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 38px;
    position: absolute;
    top: 0;
    /*z-index: 1;*/
}

.popcorn-video {
    position: relative;
}
  
   
.popcorn-video:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/left_pl_caramel_popcorn.png');
    display: block;
    width: 152px;
    height: 259px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 120px;
    left: 0;
}

.popcorn-video:before {
    content: "";
    display: block;
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/right_pll_caramel_popcorn.png');
    bottom: 130px;
    position: absolute;
    right: 0;
    width: 147px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

main.main-content {
    padding-bottom: 0 !important;
}

.widget-product .slick-arrow {
    top: -moz-calc(50%);
    top: -webkit-calc(50%);
    top: -ms-calc(50%);
    top: calc(50%);
}

.featured-products button.btn.add-to-cart-btn.cartbutton {
    background: #5e0d8b!important;
    color: #fff!important;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: inherit;
    font-weight: 700;
    min-height: inherit;
    width: auto;
    box-shadow: none;
    margin-top: 0;
    text-transform: lowercase!important;
    width: 100%;
    max-width: 100%;
}

.featured-products button.btn.add-to-cart-btn.cartbutton:hover {
    color: #fff!important;
    background: #8901bd!important;
}

@media (min-width: 1601px){
  
  .popcorn img {
    max-width: 630px;
    cursor: pointer;
}
  
  .bottom-popcorn {
    margin-top: -230px;
}
  
  .popcorn-video:after {
    width: 230px;
    height: 350px;
    bottom: 220px;
}
  
.popcorn-video:before {
    bottom: 250px;
    width: 253px;
    height: 416px;
}
  
}

@media (min-width: 1400px){
.container-fluid .slick-arrow.slick-prev {
    left: -30px;
}
  
  .container-fluid .slick-arrow.slick-next {
    right: -30px;
}
  
}

@media only screen and (max-width: 1600px){
.second.section .cs_container {
    width: 100%;
    max-width: 1230px;
}
  
  img.im_p_cs_sale {
    max-width: 870px;
    margin: -65px auto 0;
}
  
.pro-quality_im_pl {
    max-width: 1080px;
}
  
.sale-products_cs_contain {
    max-width: 1130px;
}
  
  .popcorn-video .video-container {
    max-width: 1130px;
}
  
  .popcorn-video .video-wrapper {
    max-width: 1190px;
}
  
.pd-sal_bn {
    max-width: 630px;
}
  
}

@media only screen and (max-width: 1600px) and (min-width:1351px){
  
  .popcorn img {
    width: 100%;
    max-width: 610px;
    cursor: pointer;
}
  
.pd-sal_bn {
    width: 100%;
    max-width: 630px;
}
  
.pd-sal_bn-text {
    max-width: 500px;
}
  
}


@media only screen and (max-width: 1350px){
  
  .second.section .cs_container {
    width: 100%;
    max-width: 1030px;
}
  
  .sale-products_cs_contain {
    max-width: 1030px;
}
  
  img.im_p_cs_sale {
    max-width: 730px;
}
  
  .pro-quality_im_pl {
    max-width: 960px;
}
  
  .sale-products_cs_contain {
    max-width: 980px;
}
  
  .products_cs_contain-inner {
    margin-top: -50px;
}
  
  .pd-sal_bn {
    width: 100%;
    max-width: 600px;
}
  
.pd-sal_bn-text {
    max-width: 470px;
}
  
  .righttxt span {
    font-size: 20px;
    text-shadow: 2px 2px 0px #a4110e;
}
  
.newdiv .lefttxt {
    font-size: 50px;
    text-shadow: 3px 4px 0px #a4110e;
}
  
  .righttxt {
    margin-top: -8px;
}
  
  .newdiv {
    max-width: 450px;
    margin: 13px auto;
   
}
  
  .products_cs_contain-inner:after {
    left: 0;
    top: -70px;
}
  
  .popcorn-video .video-wrapper {
    width: 100%;
    max-width: 1000px;
}
  
  .popcorn-video .video-container {
    max-width: 960px;
}
  
  .bottom-popcorn {
    margin-top: -150px;
}
  
}



@media only screen and (max-width: 1199px){
  
  .second.section .cs_container {
    max-width: 900px;
}
  
img.im_p_cs_sale {
    max-width: 640px;
    margin-top: -48px;
}
  
.pro-quality_im_pl {
    max-width: 830px;
}
  
  .first_inner {
    padding-bottom: 80px;
}

.sale-products_cs_contain {
    max-width: 860px;
}
  
 .pd-sal_bn {
    width: 100%;
    max-width: 500px;
}
  
  
  
 .popcorn img {
    max-width: 500px;
}
  
  .pd-sal_bn-text {
    max-width: 400px;
}
  
  .popcorn-inner-sec {
    margin-top: 0px;
}
  
  .popcorn-video .video-wrapper {
    width: 100%;
    max-width: 830px;
    padding-top: 20px;
}
  
  .popcorn-video .video-container {
    max-width: 790px;
}
  
  .popcorn-video:after {
   
    width: 122px;
    height: 229px;
}
  
  .popcorn-video:before {
    bottom: 120px;
    width: 117px;
    height: 240px;
}
  
#caramel-landing .featured-products .btn {
    font-size: 16px;
    padding: 6px 10px;
    min-width: inherit;
    min-height: inherit;
    width: 100% !important;
    max-width: 100%;
}
  
.popcorn-inner-sec {
    margin-top: 10px;
}
  
}


@media only screen and (max-width: 1023px){
  
  .second.section .cs_container {
    max-width: 750px;
}
  
.caramel-video {
    padding: 0 2rem;
}
  
  img.im_p_cs_text {
    margin-top: -20px;
}
  
  img.im_p_cs_sale {
    max-width: 530px;
    margin-top: -38px;
}
  
.pro-quality_im_pl {
    max-width: 680px;
    margin-top: 20px;
}
  
.first_inner {
    padding-bottom: 60px;
}
  
  .sale-products_cs_contain {
    max-width: 700px;
}
  
.products_cs_contain-inner {
    margin-top: -15px;
}
  
.pd-sal_bn {
    max-width: 370px;
    margin-top: -20px;
}
 
  
  .pd-sal_bn-text {
    max-width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
  .newdiv {
    max-width: 300px;
}
  
.newdiv .lefttxt {
    font-size: 38px;
    text-shadow: 2px 3px 0px #a4110e;
}
  
.righttxt span {
    font-size: 16px;
}

.righttxt {
    margin-top: -5px;
}
  
ul.slick-dots {
    display: none !important;
}
  
.popcorn {
    position: relative;
    margin-top: 20px;
}
  
.popcorn-video .video-wrapper {
    max-width: 680px;
    margin-top: -30px;
}
  
  .popcorn-video .video-container {
    max-width: 650px;
}
  
.bottom-popcorn {
    margin-top: -110px;
}
  
.popcorn-video .video-container .play-button-wrapper {
    margin-top: -30px;
}
  
.popcorn-video:before {
    bottom: 120px;
    width: 87px;
    height: 170px;
}
  
.popcorn-video:after {
    width: 90px;
    height: 140px;
}
  
 #caramel-landing .featured-products .btn {
    margin-bottom: 0 !important;
}
  
.popcorn img {
    max-width: 360px;
}
  
  .popcorn-video .video-container {
    margin-top: 0;
}
  
.products-grid .product-image .product-grid-image {
    padding-bottom: 90%;
}
  
}


@media only screen and (max-width: 767px){
  
  .products-grid .product-image .product-grid-image {
    padding-bottom: 90%;
}
  
  .second.section .cs_container {
    max-width: 500px;
}
  
.caramel-video {
    padding: 0 1.5rem;
}
  
.second.section {
    padding-top: 1rem;
}
  
.caramel-video .caramel-video_inner {
    border-radius: 0 0 50px 50px;
}
 
  
img.im_p_cs_text {
    margin-top: -13px;
}
  
img.im_p_cs_sale {
    max-width: 350px;
    margin-top: -27px;
}
  
 .pro-quality_im_pl .col-md-4.col-sm-4 {
    padding: 0 5px;
}
  
 .pro-quality_im_pl .row {
    margin-left: -10px;
    margin-right: -10px;
}
  
.pro-quality_im_pl {
    max-width: 440px;
    margin-top: 15px;
}
  
.first_inner {
    padding-bottom: 40px;
}
  
 .sale-products_cs_contain {
    max-width: 470px;
}
  
.pd-sal_bn {
    max-width: 300px;
    margin-top: -8px;
}
  
.pd-sal_bn-text {
    max-width: 250px;
}
  
 .righttxt {
    margin-top: 0;
}
  
 .newdiv .lefttxt {
    font-size: 32px;
    text-shadow: 2px 3px 0px #a4110e;
}
  
.righttxt span {
    font-size: 13px;
}
  
  .popcorn img {
    max-width: 210px;
}
  
.col-12.featured-products {
    padding-left: 0;
    padding-right: 0;
}
  
.popcorn-video .video-wrapper {
    max-width: 480px;
    margin-top: -20px;
}
  
.popcorn-video .video-container {
    max-width: 450px;
}
  
.popcorn-video .video-wrapper {
    padding-top: 15px;
}
  
.bottom-popcorn {
    margin-top: -90px;
}
  
 .featured-products .inner.product-item {
    margin-bottom: 0 !important;
}
 
  
.products_cs_contain-inner:after {
    top: -60px;
    min-height: 750px;
}
  
  .popcorn-video .video-container .play-button-wrapper {
    display:none;
}
  
}


@media only screen and (max-width: 499px){
  
  .second.section .cs_container {
    max-width: 350px;
}
  
.caramel-video .caramel-video_inner {
    border-radius: 0 0 20px 20px;
    padding-bottom: 55.33%;
}
  
img.im_p_cs_text {
    margin-top: -9px;
}
  
 img.im_p_cs_sale {
    max-width: 250px;
    margin-top: -17px;
}
  
.pro-quality_im_pl {
    max-width: 315px;
    margin-top: 15px;
}
  
.pro-quality_im_pl .col-md-4.col-sm-4 {
    padding: 0 3px;
    width: 33.33%;
}
  
.pro-quality_im_pl .row {
    margin-left: -5px;
    margin-right: -5px;
}
  
.sale-products_cs_contain {
    max-width: 320px;
}
  
 .products_cs_contain-inner {
    margin-top: -11px;
}
  
.pd-sal_bn {
    max-width: 220px;
    margin-top: -8px;
}
  
.pd-sal_bn-text {
    max-width: 180px;
}
  
.newdiv .lefttxt {
    font-size: 20px;
    text-shadow: 1px 2px 0px #a4110e;
}
  
 .righttxt span {
    font-size: 11px;
   text-shadow: 2px 1px 0px #a4110e;
}
  
.newdiv {
    margin: 4px auto;
}
  
  .popcorn-video .video-wrapper {
    max-width: 320px;
   padding-top: 6px;
}
  
  
.popcorn-video .video-container {
    max-width: 310px;
}
  
.bottom-popcorn {
    margin-top: -47px;
}
  
.video-container .play-button-wrapper svg {
    width: 35px;
    height: 35px;
}
  
.popcorn-video .video-container .play-button-wrapper {
    margin-top: -20px;
}
  
.col-12.featured-products {
    padding-left: 15px;
    padding-right: 15px;
}
  
.products-grid .grid-item {
    padding-left: 7px;
    padding-right: 7px;
}
  
.featured-products .product-item .product-bottom {
    padding-left: 6px;
    padding-right: 6px;
}
  
.featured-products .jdgm-preview-badge .jdgm-star.jdgm-star {
    font-size: 12px;
}
  
.featured-products a.product-title {
    max-height: 35px;
    min-height: 35px!important;
    font-size: 13px;
}
  
.featured-products .price-box {
    font-weight: 500;
    font-size: 14px;
}
  
.featured-products .slick-arrow.slick-prev {
    left: -10px;
    width: 30px;
    height: 30px;
}
  
.featured-products .slick-arrow.slick-next {
    right: -10px;
    width: 30px;
    height: 30px;
}
  
#plum-bodylovin-caramel-popcorn-bodycare .featured-products .btn {
    font-size: 14px;
    padding: 4px 10px;
}
  
.featured-products .product-item .product-bottom {
    min-height: 160px;
    padding-bottom: 5px;
}
  
.products-grid .product-image .product-grid-image {
    padding-bottom: 100%;
}
  
strong.label.new-label img {
    max-width: 38px;
}
  
.product-item .product-label {
    padding-top: 0px;
    width: 30px;
    right: 0px;
}
  
.product-label .label.sale-label {
    font-size: 10px;
}

 .plum-999 .inner-top:after {
    width: 60px;
    height: 38px;
}
  
  
.popcorn-video:after {
    width: 65px;
    height: 95px;
    bottom: 50px;
}
  
.popcorn-video:before {
    bottom: 60px;
    width: 48px;
    height: 79px;
}
  
.popcorn-video:after {
    width: 45px;
    height: 75px;
    bottom: 50px;
}
  
.caramel-video {
    margin-top: -1rem;
}
  
.popcorn img {
    max-width: 265px;
}
  
  .popcorn-video .video-container {
    margin-top: 3px;
}
  
}

@media only screen and (max-width: 349px){
  
  .second.section .cs_container {
    max-width: 290px;
}
  
.caramel-video {
    padding: 0 1rem;
}
  
.pro-quality_im_pl {
    max-width: 255px;
    margin-top: 10px;
}
  
img.im_p_cs_sale {
    max-width: 210px;
    margin-top: -15px;
}
  
.pd-sal_bn {
    max-width: 200px;
    margin-top: -5px;
}
  
.featured-products .slick-arrow.slick-next {
    right: -10px;
}
 
.featured-products .slick-arrow.slick-prev {
    left: -10px;
}
  
.sale-products_cs_contain {
    max-width: 275px;
    /* margin-top: 20px; */
}
  
.popcorn-video .video-wrapper {
    max-width: 275px;
    padding-top: 6px;
    margin-top: -10px;
}
  
.popcorn-video .video-container {
    max-width: 255px;
}
  
 .featured-products .product-item .product-bottom {
    min-height: 160px;
    padding-bottom: 5px;
}
  
#plum-bodylovin-caramel-popcorn-bodycare .featured-products .btn {
    font-size: 13px;
    padding: 4px 5px;
}
  
.popcorn img {
    max-width: 225px;
}
  
}