/*reset start*/
/* common css*/

.clearfix {
    content: "";
    display: block;
    clear: both
}


/* common css*/

html,
body {
    height: 100%;
}
/* Fonts start here */
 
/* Fonts end here */
body {
    background: #fff;
    color: #434343;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
     font-family: 'sohogothicspecsaversregular';
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

img {
    border: none;
    outline: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
}

img {
    display: block;
}

a {
    color: #30363e;
    text-decoration: none;
    outline: none;
    background: transparent;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

input:focus,
.input {
    outline: 0;
}

 

pre {
    white-space: pre-wrap;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
select,
textarea {
    font-size: 16px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inptxt::-webkit-input-placeholder {
    color: #999999;
}

.inptxt::-moz-placeholder {
    color: #999999;
}

.inptxt:-ms-input-placeholder {
    color: #999999;
}

.inptxt:-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

::-moz-placeholder {
    color: #999999
}

:-moz-placeholder {
    color: #999999
}

:-ms-input-placeholder {
    color: #999999
}

input:-moz-placeholder {
    box-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'sohogothicspecsaversbold';
    font-weight: normal;
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #716f6f;
    letter-spacing: 0.1px;
}

main,
section,
header,
nav,
footer,
aside,
figure,
figcaption,
article,
hgroup {
    display: block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

textarea {
    resize: none;
    outline: none;
}

select {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table, table tr td, table tr th {
  border: none; }

.clear {
    clear: both;
}

p:empty {
    display: none;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    text-shadow: none;
    padding: 1em 0;
}

::selection {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    text-shadow: none;
}

input:-webkit-autofill {
    background: rgba(255, 255, 255, 0.8) !important;
    color: #000;
}

a:focus {
    outline: none;
}

.clearBoth {
    clear: both;
}

.widFull {
    width: 100%;
}

.wid1200 {
    max-width: 1200px;
    margin: 0 auto;
}
.wid1600 {
    max-width: 1600px;
    margin: 0 auto;
}
.wid1640{
    max-width: 1640px;
    margin: 0 auto;
}

@media only screen and (max-width:960px) {
    .wid970 {
        max-width: 90%;
    }
}


/*===============================================================
reset ends
=================================================================*/