#searchModal.st-fewer-results{margin-top:50px!important}
#searchModalContainer #overlay1 .container{margin-top:100px;padding-bottom:100px;min-height:390px;font-size:1em;text-align:center}
#searchModalContainer .product-item .product-label .label{font-size:17px}
#searchModalContainer .jdgm-preview-badge .jdgm-star.jdgm-star{font-size:16px}
body.searchtap.template-search #searchModal .product-item .product-top .product-image a.product-grid-image{padding-bottom:66.66%}
body.searchtap.template-search #searchModal .product-item .product-top .product-image a.product-grid-image img{object-fit:contain}
#searchModalContainer a.highlight-text{cursor:pointer;font-weight:700}
#searchModal h2.page-heading+h2{text-transform:none}
#searchModalContainer .st-products-outer{margin-top:-60px}
#searchModalContainer span.st-star.st-star-off:before,span.st-star.st-star-on:before{font-style:normal;font-weight:400;display:inline-block;text-decoration:inherit;text-align:center;font-variant:normal;text-transform:none;line-height:1em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:24px;margin:0 2px;width:auto;height:auto;content:"\2606";color:#FFD117}
span.st-star.st-star-on:before{content:"\2605"}
#searchModalContainer .st-products .price-sale,#searchModalContainer .st-products .price-regular{font-size:18px}
#searchModal .st-desktop-sort-outer{display:flex;margin-bottom:20px}
#searchModalContainer .applied-filter li{font-size:14px;color:#2d2d2d;text-transform:capitalize;cursor:pointer;line-height:20px;margin-bottom:8px}
#searchModalContainer .st-filter-label{color:#5e0c8c;font-weight:700}
#searchModalContainer .applied-filter li:before{font-size:17px;color:#000;content:"\f00d";font-family:FontAwesome;vertical-align:middle;overflow:hidden;cursor:pointer!important;float:right;-webkit-font-smoothing:antialiased;-webkit-text-stroke:2.5px #FFF;font-weight:600}
#searchModal .applied-filter{border-top:1px solid #e3e3e3;padding-top:15px;margin-bottom:20px}
#searchModalContainer .applied-filter h3{font-size:16px;text-transform:capitalize;color:#505050}
body.searchtap #searchModalContainer{background:#ebe0f0;padding-top:5px}
div#STbar{border-radius:10px;background:#fff;padding:20px 15px 30px}
.st-search-bar.hidden-desktop{margin-bottom:5px!important;margin-top:5px!important}
.st-autocomplete-container{width:100%;position:absolute;height:unset;top:0;background-color:#fff;z-index:9999999999;user-select:none;padding-left:15px;overflow-x:hidden;max-width:330px;margin-top:40px;margin-left:-5px;border-radius:10px;min-width:330px}
.st-autocomplete-container #st-before-search{padding:15px;padding-left:0!important;padding-right:0!important;min-height:50px}
.st-autocomplete-container #st-trending-searches .st-trending-header,.st-autocomplete-container .st-autocomplete-component-header{display:flex;align-items:center;font-size:10px;margin-bottom:10px;text-transform:uppercase;font-weight:400;letter-spacing:.5px}
.st-trending-header svg{fill:#5e0c8c;width:20px!important;stroke:none;height:20px!important}
span.st-heading-text{font-family:'Segoe Pro';font-size:15px;margin-left:10px;letter-spacing:0;margin-bottom:0;color:#5e0c8c;font-weight:600;text-transform:capitalize}
.st-autocomplete-container #st-trending-searches .st-trending-list{display:flex;flex-wrap:wrap;line-height:normal;margin:0;padding-left:0}
.st-autocomplete-container #st-trending-searches .st-trending-list .st-trending-label{border:1px solid #e1e1e1;border-radius:40px;padding:7px 16px;margin:2px!important;font-size:13px;cursor:pointer;list-style:none}
.st-autocomplete-footer{opacity:.5;position:relative;top:10px}
.st-branding a{font-size:10px;color:#999;position:relative}
.st-autocomplete-footer .st-label{color:#858585;font-size:10px}
.st-autocomplete-footer svg{width:8px!important;height:8px!important;position:relative;top:0;fill:#423f3f!important;color:#423f3f!important;margin-left:2px;margin-top:9px}
#trending-autocomplete .st-branding{display:block;left:0;text-align:left}
#trending-autocomplete li.st-trending-label:hover{color:#5e0c8c}
.st-search-bar{display:block}
#searchModal .st-sold-out-button{background-color:#c1c1c1!important;background-image:none!important;cursor:not-allowed}
body.searchtap .snize-sticky-searchbox{display:none!important}
.header-bottom{display:block!important}
.searchtap div#loyaltylion{display:none!important}
#searchModal .product-item .product-top{position:relative;text-align:center}
#searchModal span.money{font-size:15px}
#searchModal .st-product{display:block;width:100%;position:relative;height:100%;clear:both}
#searchModal .active-sort-d{color:#5e0d8b}
#searchModal .inner.product-item{margin-bottom:20px}
.snize-ac-results{display:none!important}
body.searchtap .wrapper-header.wrapper_header_parallax{min-height:160px}
.active-sort{color:#5e0c8c!important}
span.result-loader{text-align:center;display:block;font-size:50px;margin:40px auto}
.st-search-bar{position:relative}
.st-search-bar .input-close-btn{width:20px;height:25px!important;display:block;cursor:pointer;background-image:url(https://image.flaticon.com/icons/png/512/149/149158.png)!important;background-position-y:center!important;background-position-x:center;background-repeat:no-repeat!important;background-size:12px!important;position:absolute;right:0;margin-right:10px;color:#000}
.st-search-bar input{border:1px solid #5e0c8c;font-family:inherit;padding:8px 14px;padding-left:35px;width:100%;height:40px;font-size:14px;min-width:240px;max-width:240px;font-weight:500;background-image:url(https://image.flaticon.com/icons/png/512/126/126474.png);background-size:14px;background-position-x:12px;background-position-y:center;background-repeat:no-repeat;color:#6a6a6a;letter-spacing:1px;text-transform:none;line-height:normal}
.st-search-bar input:focus{outline:none}
.st-horizontal-filter{position:relative;width:100%;min-height:60px;margin-bottom:10px!important;border-bottom:1px solid #cccccc70}
.st-horizontal-filter .filter-column{display:flex;align-items:center;height:60px}
.st-horizontal-filter .filter-col{display:block;max-width:none;width:auto;flex:none;padding:0;margin-bottom:10px;margin-top:0;position:relative;color:inherit}
#searchModal .st-dropdown-wrapper.st-transition{min-width:220px}
.st-horizontal-filter .st-filter-title{background-color:#f1edf3;font-family:'Nunito',sans-serif;font-size:14px;cursor:pointer;font-weight:300;min-width:200px;line-height:30px!important;color:inherit;transition:none;padding:6px 15px!important;margin:0 10px!important;background-image:url(select-down.svg);background-size:12px;background-position-x:92%;background-position-y:center;background-repeat:no-repeat;text-transform:capitalize;border-radius:2px}
.st-horizontal-filter .st-flex-right{display:flex;justify-content:flex-end;flex:5}
.st-horizontal-filter .st-filter-title:first-child{margin-left:5px!important}
.st-horizontal-filter .st-filter-title:hover{color:#fff;background-color:#5d0b8b;background-image:url(arrow-down-white.svg);background-size:12px}
.st-horizontal-filter .st-filter-header{margin:1rem 0 .75rem;padding:0 1.14285714rem!important;color:inherit;font-size:12px;font-weight:700;text-transform:capitalize;white-space:nowrap}
.st-horizontal-filter input{width:100%!important;height:32px!important;padding:0!important;padding-left:30px!important;box-sizing:border-box!important;background-image:url(https://image.flaticon.com/icons/svg/483/483356.svg);background-repeat:no-repeat;background-size:12px;background-position-y:center;background-position-x:10px;box-shadow:none!important;background-color:#fff!important;margin-bottom:10px!important;border:1px solid rgba(34,36,38,.15);color:rgba(0,0,0,.87)!important;border-radius:.28571429rem}
.st-horizontal-filter .filter-input-outer{margin:1.14285714rem .78571429rem!important;min-width:10rem!important}
.st-horizontal-filter .st-dropdown-wrapper{min-height:auto;position:absolute;margin-top:1px!important;margin-left:5px!important;border-radius:4px;min-width:180px;max-width:250px;max-height:220px;overflow-y:auto;background-color:#fff;z-index:999;display:none;box-shadow:0 0 17px 0 rgba(130,147,159,0.32);-webkit-transform-origin:top;transform-origin:top;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-transform:scale(1,0);transition:all .2s linear;-webkit-transition:all .2s linear}
.st-horizontal-filter .st-dropdown-wrapper::-webkit-scrollbar{width:3px;background-color:#ccc}
.st-horizontal-filter .st-dropdown-wrapper::-webkit-scrollbar-thumb{background-color:#5e0d8b}
.st-horizontal-filter .st-filter-button:hover .st-dropdown-wrapper{display:block!important;opacity:1;-webkit-transform:scale(1,1)}
.st-horizontal-filter .st-dropdown-wrapper:before{content:'';position:absolute;top:-8px;border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;left:10px;z-index:999}
.st-horizontal-filter .st-dynamic-filters{padding:12px!important}
.st-horizontal-filter .st-dynamic-filters .st-checkbox input[type="checkbox"]{display:none!important}
.st-horizontal-filter .st-dynamic-filters .st-checkbox{display:flex;align-items:center;height:30px}
.st-horizontal-filter .st-dynamic-filters .st-checkbox .st-item-checkbox{height:14px;width:14px;float:left;display:inline-block;border:1px solid #8a8a8a!important;margin-right:5px!important;position:relative;margin-top:2px!important}
.st-horizontal-filter .st-dynamic-filters .st-checkbox .st-item-checkbox:after{content:'';width:9px;height:6px;opacity:0;position:absolute;top:2px;left:0;right:0;margin:0 auto;border:2px solid #5d0b8b;border-top:none;border-right:none;background:0 0;transform:rotate(-50deg);box-sizing:border-box!important}
.st-horizontal-filter .st-dynamic-filters .st-checkbox label input[type=checkbox]:checked+.st-item-checkbox:after{content:'';opacity:1!important}
.st-horizontal-filter .st-dynamic-filters .st-checkbox span.filter-name{text-transform:capitalize!important;text-overflow:ellipsis;overflow:hidden;display:inline-block}
.st-horizontal-filter .st-dynamic-filters .st-checkbox span.sort-filter-name:hover{color:#5e0d8b}
.st-horizontal-filter .st-dynamic-filters .st-checkbox span.sort-filter-name{text-transform:capitalize!important;text-overflow:ellipsis;overflow:hidden;max-width:100%;display:inline-block}
.st-horizontal-filter .st-dynamic-filters .st-checkbox label{width:100%;font-weight:300;margin-bottom:0!important;cursor:pointer;font-size:13px;line-height:normal}
.st-horizontal-filter .st-dynamic-filters .st-checkbox span.st-count-filter{font-weight:300!important;float:right;display:inline-block;opacity:.5;font-size:12px}
.st-horizontal-filter .st-transition{-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:block!important;visibility:visible!important}
.st-last-clear-tag{float:right;position:absolute;right:0}
.st-filter-tags{position:relative;max-height:104px;overflow:hidden;width:90%}
.st-filter-inner{margin:0 0 8px!important}
.tag-item.st-last-clear-tag{text-transform:capitalize;display:inline-block;cursor:pointer;font-size:12px!important;font-family:'Nunito',sans-serif;background-color:#fff;box-shadow:0 2px 4px 0 hsla(0,0%,100%,.5);border:1px solid #cccccc82;border-radius:50px;margin:1px 4px!important;flex-wrap:wrap;overflow:hidden;transition:background-color .1s;max-width:200px;padding:6px 8px!important;line-height:12px!important;color:#252525;font-weight:500}
.st-filter-tags .st-filter-inner .tag-item{display:inline-block;cursor:default;font-size:12px!important;font-family:'Nunito',sans-serif;background-color:#fff;box-shadow:0 2px 4px 0 hsla(0,0%,100%,.5);border:1px solid #cccccc82;border-radius:50px;margin:1px 4px!important;flex-wrap:wrap;overflow:hidden;transition:background-color .1s;max-width:200px;padding:6px 8px!important;line-height:12px!important}
.st-filter-tags .st-filter-inner .tag-close{display:inline-block;cursor:pointer}
.st-filter-tags .st-filter-inner .tag-content{display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:bottom!important;margin-left:3px!important;max-width:90%;font-weight:500;text-transform:capitalize}
div#searchModalContainer{width:100%}
.st-search-bar{position:relative}
.st-product-img-wrap{position:relative;text-align:center}
.st-product-img{backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden}
#searchModal .yith-wcwl-add-to-wishlist{position:absolute;top:15px;right:24px;font-size:19px;z-index:5}
#searchModal .lazyloaded,#searchModal .lazyload{display:block;width:100%;height:100%;position:relative;background-repeat:no-repeat;background-size:cover;background-position:center center}
#searchModal .st-back-img{position:absolute;top:0;opacity:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.st-add-to-cart-btn{position:absolute;width:40px;height:40px;pointer-events:none;z-index:16;right:14px;bottom:-18px;-webkit-transform:translate3d(20px,0,0);-moz-transform:translate3d(20px,0,0);-ms-transform:translate3d(20px,0,0);-o-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0);opacity:0;visibility:hidden;top:auto;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
#searchModal .st-product-inner:hover .st-add-to-cart-btn{pointer-events:auto;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:visible;opacity:1}
#searchModal .st-add-to-cart-btn .st-ajax_add_to_cart{border:1px solid rgba(119,119,119,.15);border-radius:50%;font-size:18px;width:40px;height:40px;text-align:center;line-height:40px;background-color:#333;color:#fff}
#searchModal .st-product-inner .st-name{padding-top:10px;margin-bottom:5px}
#searchModal .st-product-inner .tooltip_left:before{display:none}
#searchModal .st-price .price-wrap{margin-right:6px}
#searchModal .st-product-inner .st-name a{font-size:16px;letter-spacing:.3px;line-height:18px;font-weight:400;display:block}
#searchModal .st-product-inner:hover .st-back-img{opacity:1}
#searchModal .st-product-inner .st-price .price{font-size:16px;position:relative;display:block;color:#333;font-weight:600;overflow:hidden}
#searchModal .st-product-inner:hover .st-main-img{opacity:0}
.st-search-bar .input-close-btn{width:20px;height:25px!important;display:block;cursor:pointer;background-image:url(cross.svg)!important;background-position-y:center!important;background-position-x:center;background-repeat:no-repeat!important;background-size:12px!important;position:absolute;top:0;right:0;margin-right:25px;margin-top:8px;color:#000}
.st-search-bar input{border-radius:10px;border:1px solid #5e0c8c;padding:8px 14px;padding-left:35px;width:100%;font-size:16px;min-width:250px;font-weight:500;background-image:url(https://cdn.shopify.com/s/files/1/0390/2985/files/seach_icon.svg);background-size:18px;background-position-x:12px;background-position-y:center;background-repeat:no-repeat;color:#232323;letter-spacing:0;text-transform:capitalize;line-height:normal}
.st-search-bar input:focus{outline:none}
#searchModalContainer h2.page-heading{display:flex;justify-content:center;width:100%;margin-bottom:.1em;font-size:26px}
.st-brand-outer:hover .st-brand-txt{color:#47b475}
.st-brand-outer:hover .st-brand{background-image:url(https://www.searchtap.io/img/st-icon.svg)}
#searchModal{position:relative;margin-top:10px}
.st-pt100{padding-top:100%}
.st-clear-btn{width:100%}
#searchModal .st-width{width:100%}
.st-desktop-filters{text-align:center;margin:0 auto;display:flex;justify-content:center;align-items:center;padding:0 5px}
#searchModal .st-toolbar{margin-left:10px;margin-right:-10px;display:flex}
.search-head .form-control{padding:0 12px;font-family:'Nunito',sans-serif;font-weight:500;margin-bottom:0;font-style:normal;color:#000;background-color:#fff;-webkit-transition:color .2s ease-in-out;transition:color .2s ease-in-out;letter-spacing:0;text-transform:none;font-size:16px;padding-top:10px;padding-bottom:10px;line-height:normal;padding-left:40px!important;padding-right:35px;width:80%;border:1px solid #ededed;height:40px;background-image:url(search-icon.svg)!important;background-position-y:center;background-position-x:12px;background-repeat:no-repeat;background-size:16px;border-radius:0}
#searchModal .grid-view-item__image-wrapper{margin:0 auto 15px;position:relative;width:100%;height:100%;overflow:hidden}
#searchModal .grid-view-item__image{display:block;margin:0 auto;width:100%;height:100%}
#st-back-top{display:none;background-image:url(up-arrow.svg);background-color:#000;background-size:20px;background-repeat:no-repeat;background-position:center center;position:fixed;bottom:75px;right:90px;width:50px;cursor:pointer;height:50px;-webkit-transition:.2s;-moz-transition:.2s;transition:.2s;z-index:99999;border-radius:0;color:#fff}
#st-back-top img{width:40px;height:40px}
.st-sort-dropdown{width:100%}
#searchModalContainer .st-sort-dropdown{width:100%;font-size:17px;text-transform:uppercase;color:#3c3c3c}
span.st-sorting-btn{border:none;color:#000;background-color:#fff;font-size:16px;text-transform:capitalize;background-image:url(select-down.svg);background-repeat:no-repeat;background-size:12px;background-position-y:center;background-position-x:93%;min-width:200px;display:inline-block;border:none;font-weight:600;padding:10px 15px;border-radius:7px;margin-left:5px;cursor:pointer}
.st-sorting-btn span{margin-right:20px}
.st-sorting{display:none;position:absolute;top:100%;text-align:left;min-width:210px;margin:0;font-size:16px;border-radius:2px;list-style:none;max-height:385px;padding:5px 0;border:1px solid #ddd;-webkit-box-shadow:0 0 35px -10px #000;box-shadow:0 0 35px -10px #000;-ms-touch-action:manipulation;-webkit-overflow-scrolling:touch;background-clip:padding-box;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s;transition:transform .25s ease .35s,opacity .1s ease .25s,visibility .1s ease .25s;-webkit-transition:-webkit-transform .25s ease .35s,opacity .1s ease .25s,visibility .1s ease .25s;z-index:9;background:#fff;margin-left:-15px;color:#252525;font-weight:400}
.st-sorting li:hover a{background-color:#f4f4f4;color:#66787f}
.st-sorting li a{display:block;padding:5px 20px;width:100%;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#333;text-align:left;-webkit-transition:color .2s ease-in-out;transition:color .2s ease-in-out;line-height:1.42857143;white-space:nowrap}
.st-sorting-btn:hover .st-sorting{display:block}
#searchModal .st-filter-icon{margin-right:35px;height:6px;width:6px;background:red;position:absolute;z-index:9;right:0;margin-top:-5px;border-radius:50%}
.resut-summary-t span.txt-red{font-weight:700;color:#000}
.st-dropdown-area::-webkit-scrollbar{width:.2em}
.st-dropdown-area::-webkit-scrollbar-track{box-shadow:inset 0 0 6px rgba(0,0,0,0.3)}
.st-dropdown-area::-webkit-scrollbar-thumb{background-color:darkgrey;outline:1px solid slategrey}
#searchModal .product-label{right:5px}
.st-brd-left{margin-right:10px}
.desktop-filter-outer .btn.st-clear-btn:hover{opacity:1}
.checkbox label input[type=checkbox],.radio label input[type=radio]{display:none}
.checkbox .cr,.color .checkbox .cr,.radio .cr{position:relative;display:inline-block;float:left;margin-right:.5em}
.checkbox label input[type=checkbox]+.cr>.cr-icon,.radio label input[type=radio]+.cr>.cr-icon{transform:scale(1) rotateZ(-20deg);opacity:0;transition:all .3s ease-in}
.checkbox .cr .cr-icon,.radio .cr .cr-icon{position:absolute;font-size:.7em}
#searchModal .count-filter{font-weight:400;font-size:12px;color:#6a6a6a;position:absolute;right:0;margin-right:0;margin-top:2px}
#searchModal .checkbox label input[type=checkbox]:checked+.cr{background:#5d0b8c;border-color:#5d0b8c}
.checkbox label input[type=checkbox]:checked+.cr>.cr-icon,.radio label input[type=radio]:checked+.cr>.cr-icon{transform:scale(1) rotateZ(0);opacity:1;color:#fff}
#searchModal .product-list .quickview-button{display:none}
#searchModal .product-list .product-top{float:left;width:25%}
#searchModal .product-list .product-bottom{float:left;width:75%}
#searchModal .product-list .product-list-thumb{display:block;float:left;max-width:200px;position:relative}
#searchModal .product-grid-btn .variants a:hover,#searchModal .product-list-btn .variants a:hover{color:#fff;text-decoration:none}
#searchModal .product-list .product-grid-btn{display:none}
#searchModal .products-grid .product-grid-btn{display:block}
#searchModal .products-grid .product-list-btn{display:none}
#searchModal .product-list .product-list-btn{display:block}
#searchModal .products-grid .short-description{display:none}
#searchModal .product-list .short-description{display:block}
.hide-desktop{display:none}
#searchModalContainer .st-loading{border-radius:150px;border:1px solid #000;border-top-color:#fff;height:120px;width:120px;animation:st-loading 1.2s linear infinite;-webkit-animation:st-loading 1.2s linear infinite;margin:0 auto;top:0;margin-bottom:200px;margin-top:200px!important}
@keyframes st-loading {
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}
@-webkit-keyframes st-loading {
0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}
.pl0{padding-left:0!important}
.pr0{padding-right:0!important}
.st-col-md-1,.st-col-md-10,.st-col-md-11,.st-col-md-12,.st-col-md-2,.st-col-md-3,.st-col-md-4,.st-col-md-5,.st-col-md-6,.st-col-md-7,.st-col-md-8,.st-col-md-9{float:left}
.st-col-lg-1,.st-col-lg-10,.st-col-lg-11,.st-col-lg-12,.st-col-lg-2,.st-col-lg-3,.st-col-lg-4,.st-col-lg-5,.st-col-lg-6,.st-col-lg-7,.st-col-lg-8,.st-col-lg-9,.st-col-md-1,.st-col-md-10,.st-col-md-11,.st-col-md-12,.st-col-md-2,.st-col-md-3,.st-col-md-4,.st-col-md-5,.st-col-md-6,.st-col-md-7,.st-col-md-8,.st-col-md-9,.st-col-sm-1,.st-col-sm-10,.st-col-sm-11,.st-col-sm-12,.st-col-sm-2,.st-col-sm-3,.st-col-sm-4,.st-col-sm-5,.st-col-sm-6,.st-col-sm-7,.st-col-sm-8,.st-col-sm-9,.st-col-xs-1,.st-col-xs-10,.st-col-xs-11,.st-col-xs-12,.st-col-xs-2,.st-col-xs-3,.st-col-xs-4,.st-col-xs-5,.st-col-xs-6,.st-col-xs-7,.st-col-xs-8,.st-col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.st-col-md-1{width:8.3333333333333%}
.st-col-md-2{width:20%}
.st-col-md-3{width:25%}
.st-col-md-4{width:33.333333333333%}
.st-col-md-5{width:41.666666666667%}
.st-col-md-6{width:50%}
.st-col-md-7{width:58.333333333333%}
.st-col-md-8{width:66.666666666667%}
.st-col-md-9{width:75%}
.st-col-md-10{width:80%}
.st-col-md-11{width:91.666666666667%}
.st-col-md-12{width:100%}
.st-row{margin-right:-15px;margin-left:-15px}
.hidden-desktop{display:none}
.hidden-mobile{display:inline-block}
.plr0{padding-left:0;padding-right:0}
.st-col-md-4.st-products{margin-bottom:50px;padding-left:25px;padding-right:25px}
#searchModal div#noResults{background-color:#f7f7f7;border:1px solid #f7f7f7;clear:both;text-align:center;margin:0 auto;margin-bottom:20px;max-width:160px;padding:8px 18px;font-size:14px;text-transform:none;color:#000;font-weight:500;font-family:'Nunito',sans-serif;margin-top:35px}
[v-cloak]{display:none}
#searchModalContainer #overlay .container{margin-top:30px;font-size:1.2em;text-align:center}
#searchModal .resultLoading{padding-bottom:50px;min-height:550px;background:url(loader.svg) center no-repeat #fff}
.st-brand-outer{width:180px;right:0;top:auto;cursor:pointer;position:absolute;z-index:1;text-align:right;margin-right:0}
.st-brand-outer .st-brand-txt{color:#9a9b9c;-webkit-transition:all .1s ease-in;transition:all .1s ease-in;display:inline-block;font-weight:300;font-size:10px;padding-left:5px;margin-left:3px;text-transform:uppercase}
.st-brand-outer .st-brand{background-image:url(https://www.searchtap.io/img/st-gray-icon.svg);background-repeat:no-repeat;background-size:8px;width:8px;height:8px;margin:0 auto 0 0;-webkit-transition:all .1s ease-in;transition:all .1s ease-in;display:inline-block;vertical-align:middle}
#searchModal .grid-view-item__image{position:relative}
#searchModal .st-sidebar .filter-list-container{overflow-y:auto!important;overflow-x:hidden;max-height:268px}
#searchModal .sidebar__inner{position:relative}
#searchModal .filter-header{line-height:100%;padding:5px 0 10px;margin-bottom:0;background:#fff;text-transform:uppercase}
#searchModal .st-qv a{cursor:pointer}
#searchModal .st-sidebar .filter-list-container::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#000}
#searchModal .st-sidebar .filter-list-container::-webkit-scrollbar{width:1px;background-color:#535454}
#searchModal .st-sidebar .filter-list-container::-webkit-scrollbar-thumb{background-color:#b7b9ba;border:1px solid #b7b9ba}
#searchModal .filter-header h4.filter-title{position:relative;font-family:'Segoe Pro';font-size:26px;margin-bottom:0;text-transform:capitalize;line-height:1.5;color:#565555;display:block;text-rendering:optimizeLegibility;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
#searchModal .st-arrows{margin-top:10px;-webkit-font-smoothing:antialiased;color:#000;-webkit-text-stroke:2px #FFF;font-weight:600}
.st-brand-outer a{text-decoration:none}
#searchModal .st-reset-all{float:right;position:absolute;right:0;font-size:12.8px;font-weight:500;color:#252525;text-transform:capitalize;cursor:pointer;letter-spacing:0;margin-right:30px}
#searchModal .btn-disabled{color:#bebebe!important;border-color:#bebebe!important;background:rgba(0,0,0,0)!important}
#overlay .search-pform p{line-height:1.1em}
.header-bottom .search-bar input.input-group-field{border-color:#000!important}
#mobile-filter .mobileFilters span.filter-clear{font-size:12.8px;right:50px;position:absolute;margin-top:3px;color:#252525;font-weight:400;text-transform:capitalize}
#searchModal .filter-container .outer-checkbox .st-checkbox{border:.3mm solid #b7b7b7;width:15px;height:15px;position:relative;float:left;display:block;margin-right:10px;margin-top:5px;border-radius:3px}
#searchModal .toolbar span.grid{background-position:0 -640px!important}
#searchModal .toolbar span.list.active,#searchModal .toolbar span.list:hover{background-position:0 -768px!important;text-decoration:none;color:#e95144}
#searchModal .contain-size{position:relative;overflow:hidden;margin-bottom:10px}
#searchModal .filter-container .filter-list-container .filter-list-desktop span.number_of_product{float:right;color:#a5a6a7;font-size:12px;padding-right:6px;font-weight:400;letter-spacing:0;display:none}
#searchModal .filter-container .filter-list-container .outer-checkbox input{display:none}
#searchModal .filter-container .filter-list-container .outer-checkbox label{display:block;position:relative;padding-left:0;margin:0;cursor:pointer;padding-bottom:0;font-size:15px;color:#000;font-weight:400;vertical-align:middle}
#searchModal .filter-container .outer-checkbox .filter-label{float:left;text-overflow:ellipsis;overflow:hidden;width:60%;color:#000;text-transform:capitalize}
.list-group-item .checkbox{margin:0 auto;line-height:14px}
#searchModal .filter-container .filter-list-container li{list-style:none;line-height:1.4em;margin:10px 0;width:100%;display:block;overflow:hidden}
#searchModal .filter-container .outer-checkbox .st-checkbox .cr-icon{opacity:0;position:absolute;font-size:9px;padding-top:1px;padding-left:2px}
#searchModal .filter-container .outer-checkbox label input[type=checkbox]:checked+.st-checkbox>.cr-icon{opacity:1;color:#fff}
#searchModal .filter-container .outer-checkbox label input[type=checkbox]:checked+.st-checkbox{background:#5e0d8b!important;border:1px solid rgba(0,0,0,.2)}
#searchModal .filter-container .outer-checkbox label .st-checkbox:before{opacity:0;content:'';width:9px;height:6px;border:2px solid #fff;border-top:none;border-right:none;background:0 0;-ms-transform:rotate(-50deg);-webkit-transform:rotate(-50deg);transform:rotate(-50deg);-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;top:2px;left:2px}
#searchModal .filter-container .outer-checkbox label input[type=checkbox]:checked+.st-checkbox:before{opacity:1}
#searchModal .filter-container h4{font-family:'Segoe Pro';font-weight:700;font-size:14px;line-height:1.5;color:#252525;text-transform:uppercase;display:block;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-bottom:0;padding:12px 0}
#searchModal .st-product-outer .col-md-2{width:20.5%}
#searchModal .st-product-outer .col-md-10{width:79.5%}
#searchModal .filter-container h4.main-filter-title .fa{float:right;margin-top:0;padding-right:0;font-size:25px;margin-top:-1px}
#searchModal .filter-container .st-clear{font-size:80%;position:absolute;right:0;display:block;margin-top:10px;margin-right:30px;font-weight:400;color:#252525;cursor:pointer;text-align:right;float:right;text-transform:capitalize}
#searchModal .filter-container .st-filter-tab{border-top:1px solid #e3e3e3;display:flex;padding:0;cursor:pointer;background:#fff;justify-content:space-between}
#searchModal .sidebar__inner .filter-list-container ul{margin:0;padding:10px 0;border-top:1px solid #d0d0d0}
ul#color_filter li{min-width:30px;max-width:90px;width:auto!important;float:left;margin:0!important;margin-bottom:2px!important;cursor:pointer;position:relative}
ul#color_filter .checkbox .st-checkbox{border:1.5px solid #fff;border-radius:0;width:25px;height:25px;display:block;margin-top:0}
#searchModal ul#color_filter .outer-checkbox .st-checkbox{border:1px solid #e2e2e2;width:25px;height:25px;position:relative;float:left;display:block;margin-right:0;margin-top:0}
#searchModal ul#color_filter .outer-checkbox .st-checkbox:hover{border:1px solid #000}
ul#color_filter{min-height:100px;height:100%;margin-top:20px}
ul#color_filter .outer-checkbox .st-checkbox .cr-icon{position:absolute;font-size:14px!important;padding-top:5px!important;padding-left:5px!important;width:100%!important;height:100%!important}
ul#color_filter .outer-checkbox label input[type=checkbox]:checked+.st-checkbox>.cr-icon{opacity:1;color:#e0dede!important;border:1px solid #000}
.st-product .pl0{padding-left:0}
#searchModal .st-product-wrap{position:relative;text-align:center;margin-bottom:25px;display:block}
#searchModal .product-info__caption{margin-top:20px}
#searchModal .st-product-wrap .product-info__caption .product-details{margin:10px 0 0;text-align:center}
#searchModal .st-product-wrap .product-info__caption .product-details .title{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-family:'Nunito',sans-serif;font-weight:300;font-style:normal;text-transform:capitalize;font-size:15px;letter-spacing:2px;text-rendering:optimizeLegibility}
#searchModal .st-product-wrap .price,.st-product-wrap .title{display:block;margin-bottom:5px;font-size:inherit;line-height:1.2}
#searchModal .st-product-wrap .sale,#searchModal .sale{color:#d54d4d}
#searchModal .st-product-wrap .sale span.money{color:#d54d4d}
#searchModal .st-product-wrap .was_price .money{text-decoration:line-through;color:#8c8b8b!important;text-shadow:none;font-weight:400}
#searchModal .hidden-sm,#searchModal .hidden-xs{display:block!important}
div#new_tags{margin-top:15px}
.all_tags{height:60px;text-align:left;white-space:nowrap;overflow-x:hidden;overflow-y:hidden;padding:0 10px;width:93%;margin:0 auto}
#searchModal .contain-size .multiple_box{width:100%;margin:0 auto}
.all_tags .tag-button{float:none;display:inline-block;font-size:13px;-webkit-border-radius:2px;height:auto;color:#444;margin:0 .1em .5em;cursor:pointer}
.multiple_box label{font-weight:400;margin-left:2px;text-transform:none;margin-right:2px;cursor:pointer;border-radius:40px;line-height:34px;user-select:none;max-width:100%}
.multiple_box input[type=checkbox]{display:none;width:auto;position:inherit;margin-right:10px;margin-top:0}
.multiple_box label span{margin:0;font-family:'Nunito',sans-serif;font-size:12px;padding:6px 20px;letter-spacing:.02em;float:left;color:#333;text-decoration:none;font-weight:600;border-radius:40px;text-transform:capitalize;border:1px solid #d0d0d0}
#tag_left{left:20px;padding-left:0!important}
#tag_right{position:absolute;right:30px}
#tag_left,#tag_right{top:18px;cursor:pointer;position:absolute;width:25px;height:40px;background-color:#fff}
#searchModal .st-left-arrow{background-image:url(left-arrow.svg);background-repeat:no-repeat;background-position:center center;background-size:16px;width:20px;height:40px;display:block;padding-top:0;background-color:#fff}
#searchModal .st-right-arrow{background-image:url(right-arrow.svg);background-repeat:no-repeat;background-position:right;background-size:16px;width:25px;height:40px;display:block;padding-top:4px;background-color:#fff}
.multiple_box input[type=checkbox]:checked + span.filter-tags{color:#fff!important;border-radius:40px;background:#000;border-color:#000;background-position:center center}
.st-sort-bg{width:100%;padding-top:0;background:#fff}
.st-img-container a img{width:100%;height:100%;vertical-align:top}
#searchModal .sort-by{margin-bottom:0;background:transparent;color:#333;position:relative;display:inline-block;vertical-align:middle}
.sort-by label{float:left;position:relative;white-space:nowrap;right:3px;font-family:'Nunito',sans-serif;padding:16px 20px;margin:1px 20px 0 0;padding-right:0;margin-right:0!important;font-size:17px;color:#333;font-weight:500;text-transform:none}
.sort-by .form-group{display:flex;margin-bottom:0}
#st-sort-web{background-color:#ebeff0;font-family:'Nunito',sans-serif;outline:none;cursor:pointer;border-radius:0;display:inline-block;font-size:12px;min-width:225px;text-align:left;padding:12px 20px;padding-right:20px;border:2px hidden #f6f6f6!important;color:#333;font-weight:500;text-transform:uppercase}
.sort-by select{font-family:'Nunito',sans-serif;border:none!important;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url(select-down.svg);background-size:12px;background-repeat:no-repeat;background-position-x:90%;background-position-y:center;font-weight:700;max-width:160px;font-size:12px;cursor:pointer}
#searchModal .toolbar .grid,#searchModal .toolbar .list{background:url(https://cdn.shopify.com/s/files/1/0042/4384/9314/t/6/assets/icons_new14.png) 0 0 no-repeat!important}
#searchModal .toolbar span.grid.active,#searchModal .toolbar span.grid:hover{background-position:0 -600px!important}
#searchModal .toolbar span.list{background-position:0 -727px!important}
.resut-summary-t span{color:#232323;font-size:12px;text-transform:uppercase;letter-spacing:0}
.resut-summary-t span.block-bld{font-weight:bolder;color:#d54d4d}
.resut-summary-t{font-size:14px;color:#232323;font-family:'Nunito',sans-serif;width:100%;font-weight:500;min-height:35px}
.resut-summary-t .st-result-inner{padding:1px 0;margin-bottom:25px}
@media only screen and (max-width : 1366px) {
div#searchModalContainer{margin-top:40px}
.all_tags{width:94%}
#searchModal .sort-by{text-align:right;float:right}
}
@media only screen and (max-width : 1280px) {
.st-search-bar input{min-width:220px}
#searchModal{margin-top:30px}
.sort-by label{letter-spacing:0}
}
@media only screen and (max-width : 1025px) {
#searchModalContainer .st-sort-dropdown{display:flex;align-items:center}
span.st-sorting-btn{min-width:150px;max-width:150px;overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap}
.st-search-bar input{min-width:200px}
#searchModalContainer .st-products-outer{margin-top:-60px}
#searchModalContainer #overlay .container{margin-top:0}
#searchModal .product-item .product-top{min-height:170px}
.st-search-bar{max-width:none;margin-right:0}
span.st-pr2{padding-left:0}
#searchModal .products-grid .product-grid-btn{display:none}
div#new_tags{margin-top:0}
#tag_left,#tag_right{top:5px}
.search_icon_mobile{position:absolute;margin-left:-30px;margin-top:2px}
.search-head{display:block;margin:0;margin-bottom:10px}
#searchModal .filter-container h4.main-filter-title .fa{margin-top:-4px}
.sort-by label{letter-spacing:0;display:none}
#st-sort-web{letter-spacing:0;min-width:160px!important}
#searchModal .filter-container h4{font-size:12px}
#searchModal .filter-container .st-clear{font-size:10px;margin-right:17px;display:none}
#searchModal .filter-container .filter-list-container .filter-list-desktop span.number_of_product{display:none;display:none}
.resut-summary-t span{font-family:'Nunito',sans-serif;font-size:12px}
.st-brand-outer .st-brand-txt{font-size:10px;padding-left:14px;margin-left:14px}
#searchModal .filter-header h4.filter-title{letter-spacing:0}
ul#color_filter{min-height:130px;height:100%;margin-top:20px}
.hide-desktop{display:none}
}
@media only screen and (max-width: 992px) {
.st-search-bar{margin-left:-190px}
.st-search-bar input{min-width:200px}
}
@media only screen and (max-width : 834px) {
#searchModalContainer .st-sort-cross{position:absolute}
#searchModalContainer .st-products-outer{margin-top:0}
#searchModalContainer .applied-filter li{font-size:80%}
body.searchtap #searchModalContainer{padding-top:2px;overflow-x:hidden}
#searchModal .st-reset-all{margin-right:10px}
#searchModal .applied-filter{border-top:1px solid #e3e3e3;margin-bottom:20px;padding:10px 10px 0}
#searchModal .filter-header{padding:25px 0 20px}
#searchModalContainer .st-products .price-box .price-sale,#searchModalContainer .st-products .price-box .price-regular{font-size:14px}
.st-search-bar input{min-width:unset;max-width:unset}
.st-autocomplete-footer svg{top:2px}
div#searchModalContainer{margin-top:0}
.st-brand-outer:hover .st-brand-txt{color:#9a9b9c}
.st-brand-outer:hover .st-brand{background-image:url(https://www.searchtap.io/img/st-gray-icon.svg)}
.resut-summary-t span{float:left}
span.show-search{margin-right:12px;font-size:23px}
#searchModal .product-item .product-bottom .product-title,.product-item .product-bottom .product-name{min-height:105px!important}
#searchModal .product-item .product-title{white-space:unset}
.st-filter-cross{display:flex;align-items:center;justify-content:center}
#searchModal .mobile-filter-popup .filter-list button.close,#searchModal .searchheader button.close{padding:0;cursor:pointer;border:0;background-repeat:no-repeat;background-position-y:center;background-color:inherit;width:20px;height:15px;min-height:auto;-webkit-appearance:none;position:relative}
.st-sorting-wrapper .st-sorting-inner ul{margin:0;padding:0;list-style:none;font-family:'Segoe Pro'}
.st-overlay-active:before{content:'';position:fixed;top:0;left:0;right:0;bottom:0;display:block;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:rgba(0,0,0,.5);z-index:5;-webkit-transition:opacity 225ms cubic-bezier(.4,0,.2,1) 0;transition:opacity 225ms cubic-bezier(.4,0,.2,1) 0}
.st-sorting-wrapper{position:fixed;top:auto;left:0;right:0;bottom:0;height:auto;max-height:100%;background-color:#fff;z-index:555}
.st-sorting-inner{background-color:#fff;overflow-y:auto;bottom:0;padding-bottom:10px}
.st-sorting-wrapper st-sorting-inner .list{list-style:none;margin:0;padding:0;background:#fff;z-index:10;overflow:hidden;clear:both}
.st-sorting-wrapper li.sortby{border-bottom:1px solid #eaeaec;font-weight:700;font-size:14px;color:#3e4152;padding-left:10px;text-transform:capitalize;margin:0 10px;padding-top:12px;padding-bottom:8px;margin-bottom:8px;text-align:center}
.st-sorting-wrapper .list li button{width:100%;display:inline-block;border:none;text-transform:none;color:#3e4152;padding:15px 20px;font-size:14px;background-color:transparent;text-align:center}
.st-sorting-wrapper .list li button:focus{outline:none;box-shadow:none}
.st-sorting-wrapper .searchSort .list .sortby{border-bottom:1px solid #eaeaec;font-weight:500;font-size:14px;color:#3e4152;padding-left:10px;margin:0 10px;padding-top:12px;padding-bottom:8px}
span.disInBlock{color:#FFF}
.st-search-bar{display:none}
.mobile-filter-popup .filter-label{display:inline-block;text-transform:capitalize;width:75%;font-weight:500;font-size:15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:normal}
.mobile-filter-popup span.number_of_product{position:relative;float:right;font-weight:300;color:#999;font-size:12px;display:none}
#searchModal{position:relative;margin-top:0;padding:0}
#searchModal .st-width{width:auto}
#searchModal .st-product{padding-left:15px;padding-right:15px;margin-left:0}
#searchModal .st-product .grid__item{width:50%}
.st-search-bar{position:relative;margin:20px;min-width:90%;z-index:-1;margin-bottom:5px}
#st-back-top{bottom:75px;right:20px}
span.result-mob{font-size:12px}
.search-head .form-control{width:100%}
.result-mob{float:right!important}
#searchModalContainer #overlay .container{font-size:20px;text-align:center;margin-top:50px}
#searchModalContainer h2.page-heading{display:block}
#searchModal #overlay .st-product{padding-left:25px;padding-right:25px}
#searchModal #sortFilter label{margin-bottom:0}
.hide-desktop{display:block}
.st-desktop-filters{display:none}
#searchModal .st-product-outer .col-md-10{padding:0}
#searchModal .toolbar{margin-bottom:15px;overflow:hidden}
.resut-summary-t .st-result-inner{padding:0 5px;margin:0}
#searchModal .st-toolbar{min-height:25px}
#searchModal .st-product-outer .col-md-10{width:100%}
#searchModal .st-product-outer .col-md-2{width:100%}
.mobile-filter-popup .filter-header{border-bottom:1px solid #cccccc69}
.filter-list .filter-text{color:#000;font-weight:600;font-size:20px;text-transform:uppercase;margin-left:40px;letter-spacing:normal;width:100%}
.filter-list .apply-all{margin:0 10px;margin-right:15px}
.filter-list a.apply-btn{position:relative;background:#5d0b8c;border-color:#5d0b8c;letter-spacing:0;padding:8px 20px;border-radius:20px;font-weight:800;outline:0;text-transform:capitalize;font-size:14px;color:#fff}
.mobile-filter-popup .filter-header .clear-all{font-size:12.8px;text-transform:capitalize;color:#252525;font-weight:500}
.filter-list .panel-heading{padding:0;border-bottom:1px solid #cccccc69;border-top-right-radius:0;border-top-left-radius:0;width:100%;color:#333;text-transform:uppercase}
.filter-list .panel-title{font-size:14px;color:#252525;text-transform:unset;padding:16px 25px;letter-spacing:0;font-weight:700;margin-bottom:0}
.mobile-filter-popup .filter-body{width:100%;padding:0 5px}
.filter-list .panel-title .fa{float:right;font-size:20px}
.mobile-filter-popup ul.list-group{padding-left:0;padding-right:0;margin:0;box-shadow:none;border:none;padding-top:15px;-ms-touch-action:manipulation;-webkit-overflow-scrolling:touch;max-height:300px;overflow-y:auto}
.mobile-filter-popup .list-group li{list-style:none;padding:2px 25px;border:none}
.mobile-filter-popup .list-group li:first-child{margin-top:0}
.mobile-filter-popup .checkbox .cr,.mobile-filter-popup .radio .cr{margin-right:10px;margin-top:1px;border:1px solid #d5d5d4;width:1.1em;height:1.1em;display:flex;justify-content:center;align-items:center;position:relative;border-radius:3px}
.mobile-filter-popup .checkbox label input[type=checkbox]:checked+.cr{background:#000;border-color:#000}
.mobile-filter-popup .checkbox .cr .cr-icon{position:absolute;font-size:.7em}
.mobile-filter-popup .checkbox label input[type=checkbox]:checked+.cr>.cr-icon{transform:scale(1) rotateZ(0);opacity:1;color:#fff;padding-right:0;font-size:13px}
.mobile-filter-popup .filter-list .checkbox label{width:100%}
.mobile-filter-popup .checkbox label input[type=checkbox]+.cr>.cr-icon{transform:scale(1) rotateZ(-20deg);opacity:0;transition:all .3s ease-in}
.checkbox label input[type=checkbox],.radio label input[type=radio]{display:none}
#searchModal .mobile-filter-popup .filter-list button.close{background-image:url(cross.svg);background-size:12px;margin-top:0;opacity:1;margin-left:15px}
#searchModal .mobile-filter-popup .filter-list button.close,#searchModal .searchheader button.close{padding:0;cursor:pointer;border:0;background-repeat:no-repeat;background-position-y:center;background-color:inherit;width:20px;height:20px;min-height:auto;-webkit-appearance:none;position:absolute;margin-left:35px;margin-top:-2px;left:0;top:0}
#searchModal .st-col-xs-12{width:100%}
#searchModal div#noResults{margin-bottom:20px}
#searchModal .st-col-md-10{width:100%;padding-left:0;padding-right:0}
#searchModal .mb-filter-txt{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:80%}
.search-head{margin-bottom:0}
#searchModal .sortFilterCon .filter_h{border-left:1px solid rgba(255,255,255,0.24)}
#searchModal #sortFilter{background-color:#5e0d8b;position:fixed;text-transform:uppercase;bottom:0;left:0;width:100%;padding:0 .3rem;z-index:98;box-shadow:0 -2px 5px rgba(0,0,0,0.1);transition:.35s ease-in;display:block}
.st-inner-product{margin-bottom:35px}
#searchModal .st-product .st-col-md-3{width:33.33333%;padding:0 15px}
#searchModal .st-col-md-10{width:100%}
#searchModal .st-mobile-sorting-bg{background-color:rgba(0,0,0,0.5);position:fixed;display:none!important;top:0;bottom:0;width:100%;z-index:5;padding:20px;padding-left:0;box-shadow:0 1px 55px 0 rgba(0,0,0,0.1)}
#searchModal .st-mobile-sorting{background-color:#fff;position:fixed;bottom:0;width:100%;z-index:999;padding:20px;padding-bottom:0;padding-left:0;box-shadow:0 1px 55px 0 rgba(0,0,0,0.1)}
.st-mobile-sorting li{margin-left:0!important;padding-left:20px!important}
#searchModal .mobile-filter-popup .outer-checkbox label input[type=checkbox]:checked+.st-checkbox{background:#F18A77;border-color:#F18A77}
#searchModal .mobile-filter-popup .outer-checkbox label input[type=checkbox]:checked+.st-checkbox>.cr-icon{opacity:1;color:#fff}
.mobile-filter-popup{box-sizing:border-box;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999999;border:0;background:#fff;overflow-x:hidden;margin:0;overflow-y:scroll}
#searchModal .mobile-filter-popup .st-reset-all-mobile{font-size:12px;font-weight:500;color:#F18A77}
.st-sort-bg{box-shadow:none;margin-bottom:0;padding-top:0}
resut-summary-t{padding-top:0}
#searchModal .resut-summary-t{width:100%;padding:0;white-space:nowrap;text-overflow:ellipsis}
#searchModal .ripple-container .filters-btn{top:0}
#searchModal .txt-red{color:#333;position:relative}
.tb-megamenu .nav-collapse{display:none}
.st-col-md-9{width:100%}
.st-col-md-8{width:100%}
.hidden-desktop{display:block}
.hidden-mobile{display:none!important}
.sort-applied-ellip{background-color:#fff;width:8px;height:8px;position:absolute;z-index:5;border-radius:50%;margin-left:-77px}
.filter-applied-ellip{background-color:#fff;width:8px;height:8px;position:absolute;z-index:5;border-radius:50%;margin-left:-17px}
.sortFilterCon div{width:49%;font-family:'Nunito',sans-serif;float:left;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;padding:15px 5px 12px 35px;text-align:center;color:#fff;letter-spacing:0;font-size:15px;font-weight:700}
.tabIcon.filterIcon,.tabIcon.sortIcon{position:absolute;top:18px;margin-left:-20px}
.tabIcon.sortIcon{background-size:14px;background-image:url(sort.svg)}
.tabIcon.filterIcon{background-image:url(filter-icon.svg);background-size:14px;margin-left:-27px}
.tabIcon{width:35px;height:35px;background-repeat:no-repeat}
.sortFilterCon .pdSorting{position:absolute;left:0;top:0;width:100%;outline:0;height:47px;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);opacity:0;color:#000}
.st-pr2{padding-right:2px}
#searchModal .uppercase_text{text-transform:uppercase}
.st-brand-outer{border-left:0 solid #c8c8c9;right:0;position:absolute;top:1px;margin-top:0;margin-right:5px;font-size:12px!important}
.st-brand-outer .st-brand-txt{font-size:10px;letter-spacing:0;float:none;margin-left:32px}
.st-mobile-filter{position:fixed;top:0;left:0;right:0;width:100%;height:100%;background-color:#fff;display:none;z-index:5}
#searchModal .st-mobile-filter .filter-cross{font-family:'Nunito',sans-serif;font-weight:300;letter-spacing:4px}
#searchModal .st-mobile-filter .mobile-filter-button{font-family:'Nunito',sans-serif;font-weight:500;color:#ffff;background-color:#49a066;position:absolute;right:0;padding:10px 20px;font-size:14px;border-radius:30px;margin-top:-9px}
#searchModal .st-toolbar{margin-left:15px}
}
@media only screen and (max-width : 767px) {
#searchModal .st-toolbar{margin-left:-15px}
.st-product .st-col-md-4{width:50%}
#searchModal .product-label .label{text-transform:uppercase;font-size:11px}
#searchModal .st-product{display:block;flex-wrap:unset;width:100%}
.resut-summary-t .st-result-inner{padding:0 30px}
#searchModal .st-toolbar{min-height:35px}
#st-back-top{width:40px;height:40px}
#searchModal .st-product .st-products{padding-left:5px;padding-right:5px;margin-bottom:10px}
#searchModal .st-width{width:auto}
#searchModal .st-product{margin-left:0}
#search-content .st-col-md-12{padding-left:0;padding-right:0}
#searchModal .st-product .st-col-md-3{width:100%;padding:0 5px}
.st-col-md-4{width:100%;padding-left:5px;padding-right:5px}
#searchModal .st-product{padding-left:15px;padding-right:15px}
}
@media only screen and (max-width: 540px) {
#searchModalContainer .product-item .product-label .label{font-size:11px}
body.searchtap.template-search #searchModal .product-item .product-top .product-image a.product-grid-image{padding-bottom:100%}
}
@media only screen and (max-width: 480px) {
#searchModal{margin-top:50px}
#searchModalContainer .st-products .product-item .jdgm-preview-badge .jdgm-star{font-size:12px;padding-right:2px!important}
#searchModalContainer .st-products .product-item .jdgm-prev-badge__text{font-size:11px}
.st-autocomplete-container{width:95%;min-width:unset;max-width:unset;margin-left:-5px}
.st-add-to-cart-btn{right:24px;opacity:1;visibility:visible}
#searchModal .yith-wcwl-add-to-wishlist{right:15px}
#mobileFilterValues ul{max-height:520px}
}
@media only screen and (max-width : 320px) {
#searchModalContainer .st-products .price-box .price-sale,#searchModalContainer .st-products .price-box .price-regular{font-size:13px}
#searchModalContainer .st-products .price-box .old-price{margin-right:0}
.st-sorting-wrapper{z-index:999999}
#searchModal .price-box .old-price{margin-right:1px}
.st-brand-outer .st-brand{background-size:7px;width:7px;height:7px}
.resut-summary-t span{margin-left:0}
.st-brand-outer .st-brand-txt{font-size:9px;margin-left:48px}
.filter-list .apply-all{margin:0 10px}
.filter-list a.apply-btn{padding:10px 20px}
.filter-list .clear-all,.filter-list a.apply-btn{letter-spacing:0;font-size:11px}
#mobileFilterValues ul{max-height:450px}
.header.header-style1 .search-header-w .form_search{z-index:1;position:absolute;top:0;right:calc(100% + 10px);min-width:160px!important;max-width:120px!important}
}
.st-search-bar input::-webkit-input-placeholder{color:#5e0c8c}
.st-search-bar input:-ms-input-placeholder{color:#5e0c8c}
.st-search-bar input::placeholder{color:#5e0c8c}
a[value="Title ascending"],a[value="Title descending"],a[value="Created ascending"]{display:none!important}


@media only screen and (max-width:575px) {
  
  
#searchModal .st-product .st-products {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 7px;
}
  
  
}