{% include 'collection-template-boost-pfs-filter' %}
<div class="container">
  <a href="https://plumgoodness.com/pages/shop-by-concern">
  <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Footer_B2G2.jpg?v=1662556693" class="desktop">
  <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Footer_B2G2_Mobile_21bf2099-e56b-48e6-9579-f15ce89bdbb2.jpg?v=1662556691" class="mobile">
  </a>
</div>
{% section 'collection-related-blogs' %}
