<style>
  
  .bitly_code_not_found .sm_bottom_bar {
    display: none;
}
  
  .heading_basket {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'serifabold';
    letter-spacing: 1px;
    color: #5e0d8b;
    margin-bottom: 10px;
}
  
.login_smrt_mkt_login {
    text-align: center;
  margin-top:130px;
}
  
 .login_smart-makt {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 20px !important;
}
  
  .login_smart-makt a {
    text-decoration: underline;
    color: #5e0d8b;
}
  
  
 .login_smart-makt a:hover {
    text-decoration: none;
}
  
  .continue-shop-smart-mkt a {
    display: inline-block;
    background: #5e0d8b;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    padding: 12px 25px;
    font-weight: 700;
    min-height: inherit;
    width: auto;
    box-shadow: none;
    margin-top: 0;
    min-width: 165px;
    text-transform: lowercase;
}
  
 .continue-shop-smart-mkt a:hover {
    color: #fff!important;
    background: #8901bd!important;
}
  
  .collection-grid__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

 .inner.product-item .btn {
    background: #5e0d8b!important;
    color: #fff!important;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: inherit;
    font-weight: 700;
    min-height: inherit;
    width: auto;
    box-shadow: none;
    margin-top: 7px;
    text-transform: lowercase!important;
    min-width: 165px;
    margin-bottom: 0;
}
  
  .inner.product-item .btn:hover {
    color: #fff!important;
    background: #8901bd!important;
}
  
  .collection-grid__container .grid-item {
    margin-bottom: 20px;
    margin-top: 20px;
}
#solus_template .grid-item.col-6.col-md-4.col-lg-3.small--one-half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
        padding-left: 8px;
    padding-right: 8px;
}
  .collection-grid__container .grid-item .inner.product-item {
    position: relative;
    background: #fff;
    padding: 15px 15px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}
  
  .grid-item .inner.product-item .inner-top {
    width: 100%;
}
  
  .product-item .product-bottom {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding-bottom: 0;
    min-height: 190px;

}
  
.product-item .jdgm-widget.jdgm-widget {
    margin-bottom: 0;
    min-height: 25px;
}
  
  .product-item .product-bottom .product-title {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-height: 42px;
    min-height: 42px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    line-height: 1.3;
    font-size: 15px;
}
  
  .inner.product-item .price-box {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
  
   .grid-item .inner.product-item .price-box:before {
    content: "";
    width: 70px;
    height: 2px;
    background: #5c0f8b;
    display: block;
    margin: 0 auto 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
  
 .product-item .product-bottom div {
    width: 100%;
}
  
  div#landing_page_json {
    margin-bottom: 40px;
    margin-top: 30px;
}
  
 .products-grid .product-image .product-grid-image {
    min-height: inherit;
    padding-bottom: 66.66%;
    overflow: hidden;
}
  
  .product-item .product-top .product-image .product-grid-image {
    min-height: inherit;
    padding-bottom: 100%;
    overflow: hidden;
}
  
  .product-item .product-top .product-image .product-grid-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
  .products-grid .grid-item:not(.grid-item-mansory) .product-grid-image {
    position: relative;
}
  
  body .products-grid .product-image img {
    min-height: inherit!important;
    border-radius: 5px;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    object-fit: contain!important;
    height: 100%!important;
    min-height: inherit!important;
    -moz-transform: inherit!important;
    -o-transform: inherit!important;
    -ms-transform: inherit!important;
    -webkit-transform: inherit!important;
    transform: inherit!important;
}
  
  .collection-grid__container .grid-item .inner.product-item {
    box-shadow: 0 3px 8px rgb(0 0 0 / 9%);
}
  
 .product-item .product-bottom .action {
    margin-bottom: 0;
}
  
  .product-item .product-bottom div.action {
    max-width: 100%;
}

.product-item .product-top:hover .images-two img {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
    filter: alpha(opacity=1);
}


.sm_bottom_bar {
    background: #5e248c;
    padding: 15px;
    text-align: center;
}
  
  .sm_bottom_bar h3 {
    color: #fff;
    margin-bottom: 5px;
    line-height: normal;
    font-weight: 600;
}
  
  
  
  .background_image_sm h4 {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}
  
   #solus main.main-content {
    padding-bottom: 40px;
}
  
  .collection-grid__container h3 {
    padding: 6% 0;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'serifabold';
    letter-spacing: 1px;
    font-size: 50px;
    color: #5e0d8b;
}
  
  
  
 .background_image_sm img {
    width: 100%;
} 
  
  
 @media only screen and (min-width: 768px){
   
  .background_image_sm img.mobile_img {
    display: none;
}
   
 }
  
@media only screen and (min-width: 1400px){
 
#solus main.main-content .container {
    max-width: 1270px;
}
  
#smart-basket .container {
    max-width: 1270px;
}
    
  .collection-grid__container .grid-item {
    padding-left: 25px;
    padding-right: 25px;
}
  
  }
  
  @media only screen and (max-width:1199px){
  
  #solus_template .grid-item.col-6.col-md-4.col-lg-3.small--one-half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex:  0 0 33.33%;
    max-width: 33.33%;
}
    
  }
  
  
@media only screen and (max-width: 767px){
  
  .background_image_sm img.desktop_img {
    display: none;
}
  
  .collection-grid__container h3 {
    font-size: 35px;
    padding: 6% 10px;
}
  
 
  
  .heading_basket {
    margin-top: 10px;
    font-size: 35px;
    margin-bottom: 10px;
}
  
.collection-grid__container .grid-item .inner.product-item {
    padding: 3px 5px 25px;
}
  
.inner.product-item .btn {
    font-size: 15px;
    margin-top: 5px;
}
  .login_smrt_mkt_login{
    margin-top: 100px;  
  }
  
.sm_bottom_bar h3 {
    font-size: 22px;
}
  
.background_image_sm h4 {
    font-size: 30px;
    margin-bottom: 0;
}
#solus_template .grid-item.col-6.col-md-4.col-lg-3.small--one-half {
    flex: 0 0 50% !important;
    max-width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
    
  }
  
  
@media (max-width: 540px){
  
  .collection-grid__container .grid-item .inner.product-item {
    padding: 3px 5px 15px;
}
 
  .inner.product-item .btn {
    min-width: inherit;
    width: 100%;
    max-width: 100%;
    padding: 8px;
     font-size: 15px;
    margin-top: 5px;
}
    
  
  
.collection-grid__container .grid-item {
    padding-left: 5px;
    padding-right: 5px;
}
  
div#landing_page_json {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}
  
  
.product-item .product-bottom .product-title {
    padding: 0;
    max-height: 32px;
    min-height: 32px;
    line-height: 1.3;
    font-size: 12.5px;
}
  
.inner.product-item .price-box {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0;
    font-size: 15px;
}
  
  
.product-item .product-bottom {
    min-height: 145px;
}
  
.grid-item .inner.product-item .price-box:before {
    width: 50px;
    margin: 2px auto;
}
  
.login_smart-makt {
    font-size: 16px;
}
  
.continue-shop-smart-mkt a {
    font-size: 16px;
    padding: 10px 25px;
}
  
}

</style>

<div id="solus_template">
<div class="sm_top_head">
      <div class="background_image_sm">
            <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/solus_banner_ds-min.jpg" class="desktop_img" alt="Solus">
            <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/solus_banner_mb-min.jpg?v=1650518344" class="mobile_img" alt="Solus">
      </div>
</div>
<div class="container">
    <div id="basket_page" class="collection-grid" data-section-id="collection-template" data-section-type="collection-template-section" data-sort-enabled="" data-tags-enabled="">
        <div class="collection-grid__container container-sb" id="landing_page_json"></div>
    </div>
</div>
<!-- <div class="sm_bottom_bar"><h3>go on.. Add these products to your cart</h3></div> -->
</div>
  <script>
    var customer_name = '{{customer.first_name}}';
    var section_id = 'solus-recommandations';
    var bitly_code = window.location.search.replace("?", "");
    if (bitly_code) {    
    var payload = '{"Bitly_code": "'+bitly_code+'"}';
    const solus_url_landing_page = 'https://plum.solus.ai/solus_landingpage_recos';
    fetch(solus_url_landing_page, {
      method: 'POST', 
      body: payload ,
      headers: {
        'Content-Type': 'application/json'
      }})
    .then(response => response.text())  // convert to json
    .then(text => {
      var baskhtml = "";
      var t = JSON.parse(text);
      // console.log('t', t);
      var sbitems=t["items"];
      // console.log('items', sbitems);
      sbitems = sbitems.slice(0,5);
      // console.log('sbitems',sbitems);
      for(var i=sbitems.length-1; i>=0; i--){
        var product_json = 'https://plumgoodness.com/products/'+ sbitems[i].Product_Handle + '.json';
        var sbvariant = sbitems[i].Product_Variant_Id;
        
        jQuery.getJSON(product_json, function(products) {

          var product = products.product;
          var imgsrc; var imgalt; var imgsrc2;var imgalt2;  
          if (product.images.length > 1) {
             imgsrc = product.images[0]['src'];
             imgalt = product.images[0]['alt'];
             imgsrc2 = product.images[1]['src'];
             imgalt2 = product.images[1]['alt'];  
          }else{
             imgsrc = product.image.src;
             imgalt = product.image.alt;
          }
          
          var sale = (product.variants[0].compare_at_price - product.variants[0].price) * 100 / product.variants[0].compare_at_price;
          sale = Math.round(sale)
          // console.log('product',products);
          baskhtml = '<div class="grid-item col-6 col-md-4 col-lg-3 small--one-half">';
          baskhtml = baskhtml + '<div class="inner product-item" data-product-id="product-'+product.id+'">';
          baskhtml = baskhtml + '<div class="inner-top">';
          baskhtml = baskhtml + '<div class="product-top">';
          baskhtml = baskhtml + '<div class="product-image image-swap">';
          baskhtml = baskhtml + '<a href="https://plumgoodness.com/products/'+product.handle+'" class="product-grid-image" tabindex="0"  data-collections-related="/collections/?view=related">';
          baskhtml = baskhtml + '<img alt="'+imgalt+'" class="images-one lazyautosizes lazyloaded" data-src="'+imgsrc+'" data-widths="[180 , 220, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" sizes="277px" src="'+imgsrc+'">';
          baskhtml = baskhtml + '<span class="images-two">';
          if (imgsrc2) {
            baskhtml = baskhtml + '<img alt="'+imgalt2+'" class="images-one lazyautosizes lazyloaded" data-src="'+imgsrc2+'" data-widths="[180 , 220, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" sizes="277px" src="'+imgsrc2+'">';
          }
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '</a>';
          baskhtml = baskhtml + '</div>';
          if(product.tags.indexOf('New') != -1)
          {
            baskhtml = baskhtml + '<strong class="label new-label" data-translate="products.product.new_label">';
            baskhtml = baskhtml + '<img class=" lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/New-label_89e72cd3-173c-4c2d-88ce-8dc2474be097.png" src="https://cdn.shopify.com/s/files/1/0390/2985/files/New-label_89e72cd3-173c-4c2d-88ce-8dc2474be097.png" width="58" height="58"><span class="new">New</span>';
            baskhtml = baskhtml + '</strong>';
          }
          if (sale > 0) {
            baskhtml = baskhtml + '<div class="product-label ">';
            baskhtml = baskhtml + '<strong class="label sale-label">'+sale+'% off';
            baskhtml = baskhtml + '</strong>';
            baskhtml = baskhtml + '</div>';
          }
          baskhtml = baskhtml + '</div>';

          baskhtml = baskhtml + '<div class="product-bottom">';
          baskhtml = baskhtml + '<span class="shopify-product-reviews-badge" data-id="'+product.id+'">'; 
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '<a class="product-title" href="https://plumgoodness.com/products/'+product.handle+'" tabindex="0">';
          baskhtml = baskhtml + '<span class="lang1">';
          baskhtml = baskhtml + product.title;
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '</a>';
          baskhtml = baskhtml + '<div class="price-box">';
          if(product.variants[0].compare_at_price > product.variants[0].price){
          baskhtml = baskhtml + '<div class="price-sale">';  
          baskhtml = baskhtml + '<span class="old-price">₹ '+product.variants[0].compare_at_price+'';  
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '<span class="special-price">₹ '+product.variants[0].price+'';  
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '</div>';
          }else{
          baskhtml = baskhtml + '<div class="price-regular">';  
          baskhtml = baskhtml + '<span class="price-mrp test">₹ '+product.variants[0].compare_at_price+'';  
          baskhtml = baskhtml + '</span>';
          baskhtml = baskhtml + '</div>';
          }
          baskhtml = baskhtml + '</div>';
          baskhtml = baskhtml + '<div class="action">';
          baskhtml = baskhtml + '<form action="/cart/add" method="post" class="variants grid-product-form--'+product.id+'" id="grid-product-form--'+product.id+'" data-id="product-actions-'+product.id+'" enctype="multipart/form-data">';
          if (product.variants.length > 1){
           baskhtml = baskhtml + '<a class="btn" href="https://plumgoodness.com/products/'+product.handle+'" title="'+product.title+'" tabindex="0">';
           baskhtml = baskhtml + 'Select options';
           baskhtml = baskhtml + '</a>';
          }else{
          baskhtml = baskhtml + '<div class="cart">';
          baskhtml = baskhtml + '<input type="hidden" name="id" value="'+product.variants[0].id+'" tabindex="0">';
          baskhtml = baskhtml + '<input type="hidden" name="quantity" value="1" tabindex="0">';
          baskhtml = baskhtml + '<button data-btn-addtocart="" class="btn add-to-cart-btn cartbutton" type="submit" data-form-id="#grid-product-form--'+product.id+'" tabindex="0">';
          baskhtml = baskhtml + 'Add to Cart';
          baskhtml = baskhtml + '</button>';
          baskhtml = baskhtml + '</div>'; 
          }
          baskhtml = baskhtml + '</form>';
          baskhtml = baskhtml + '</div>'; 
          baskhtml = baskhtml + '</div>'; 
          baskhtml = baskhtml + '</div>'; 
          baskhtml = baskhtml + '</div>'; 
            $("#landing_page_json").append(baskhtml); 
        } );
      }
    }) 
    //print data to console
    .catch(err => {
        $('body').addClass('bitly_code_not_found');
	      console.log('Request Failed', err);
      $("#landing_page_json").append("<h3>No Product Found!</h3>"); 
    }); // Catch errors
}else{
  $('body').addClass('bitly_code_not_found');
    $("#landing_page_json").append("<h3>No Product Found!</h3>"); 
}
   </script>