<div class="page-tpl empties_good">
  {% comment %}
  Regular page content goes here.
  {% endcomment %}

  {% if settings.enable_multilang and page.content contains '[lang2]' %}
  <div class="rte lang1">
    {{ page.content | split: '[lang2]' | first }}
  </div>
  <div class="rte lang2">
    {{ page.content | split: '[lang2]' | last }}
  </div>
  {% else %}
  <div class="rte">
    {{ page.content | split: '[lang2]' | first }}
  </div>
  {% endif %}

  <div class="top-banner">
    {% comment %}{% section 'simple-banner' %} {% endcomment %}
    <section class="sub-page-banner-section">
      <div class="main-top-banner-sec">
        <a href="#" class="">
          <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktop_banner.jpg?v=1581505305" src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktop_banner.jpg?v=1581505305" class="desktop-xs lazyautosizes lazyloaded" data-sizes="auto">
          <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktopmob_banner.jpg?v=1581505304" src="https://cdn.shopify.com/s/files/1/0390/2985/files/empties_desktopmob_banner.jpg?v=1581505304" class="mobile-xs lazyautosizes lazyloaded" data-sizes="auto">
        </a>
      </div>

      <div class="plurple-grey">
        <div class="purple-container">
          <p class="container_3">What's left in your plum bottle once you've used<br>up all the goodness inside?</p>
          <p class="container_3">More goodness!</p>
        </div>
        <div class="grey-container container_3">
          <p class="container_3">Here's how.<br><br>first up, you perhaps already know that only <b>RECYCLABLE</b> packaging is used to package plum goodness.</p><p class="container_3">Not wanting to stop there, we're now making it easier (and rewarding) for you to actually recycle your plum empties. Send your empties to us, and we'll connect it to a verified recycler (we give it away free). And for every empty you send us, we'll reward you with Rs. 50 in shopping credits on <a href="https://plumgoodness.com/">plumgoodness.com!</a></p><p class="container_3">Happier plumsters, happier planet.</p>
        </div>
      </div>


      <div class="container">
        <div class="img-with-content-section">
         <div class="content-infos left-img-right-content hidden-xs">
            <div class="right-img-data">
              <h3>Join the <strong style="color: #5c0d8c"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeRXnjPXULppVswH04C7q6hqZLDtabRa6dZZCX8hTxzuqnDDw/viewform">#Empties4Good</a></strong> campaign today.</h3>
            </div>
           
            <div class="left-img-data">
              <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/png-image.png?v=1587985695" src="https://cdn.shopify.com/s/files/1/0390/2985/files/png-image.png?v=1587985695" class="lazyautosizes lazyloaded">
            </div>
            <div class="right-img-data visible-xs">
              <h3>Join the <strong style="color: #5c0d8c"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeRXnjPXULppVswH04C7q6hqZLDtabRa6dZZCX8hTxzuqnDDw/viewform">#Empties4Good</a></strong> campaign today.</h3>
            </div>
          </div>

          <h3 class="send-us"><b>Send us your empties in one of the following ways</b> <br>(more ways coming)!</h3>
         
          <div class="content-infos left-img-right-content">
            <div class="right-img-data">  
              <h3 class="doit">Do it yourself</h3>
              <p>simply put your plum plastic empties in a box or a strong envelope (if that will work), and mail it to the address below. Don't forget to write your email address and mobile number so we know where to send your gift vouchers!</p>
            </div>
            <div class="left-img-data">
              <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/do_it_yourself.png?v=1581505546" src="https://cdn.shopify.com/s/files/1/0390/2985/files/do_it_yourself.png?v=1581505546" class="lazyautosizes lazyloaded">
            </div>

          </div>
          <div class="content-infos left-content-right-img">
            <h3 class="doit hidden-xs">Request a free pickup</h3>
            <div class="right-img-data">
              <img data-src="https://cdn.shopify.com/s/files/1/0390/2985/files/free_pickup.png?v=1581505612" src="https://cdn.shopify.com/s/files/1/0390/2985/files/free_pickup.png?v=1581505612" class="lazyautosizes lazyloaded">
            </div>
            <div class="left-content">
              <h3 class="doit visible-xs">Request a free pickup</h3>
              <p class="pickup">email, call or whatsApp plum customer care and request a pickup for your empties. we'll take it from there. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>

  $(".empties-tab-section").tabs();
  $(".nexttab").click(function() {
    $(".empties-tab-section").tabs("select", this.hash);
  });
</script>


<style>
  .empties_good .container_1 {
    text-align: left;
  }
  .acc_body {
    padding-bottom: 10px;
    line-height: 26px;
    padding: 0 25px 26px 14px;
    border-bottom: 1px solid #505050ab;
  }
  .empties_good .container_1 p:nth-child(1) {
    color: #5e0c8c;
    font-weight: 400;
    font-family: roboto;
  }
  #empties4good h3 {
    font-weight: 400;
    font-family: roboto;
    color: #5e0c8c;
    margin-bottom: 20px;
  }
  .empties_good .container_2 h3 {
    color: #fff !important;
  }
  .right-content img{
    max-width:200px;
  }
  .acc_head {
    padding: 26px 10px 0;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #5e0c8c;
  }
  .acc_head:nth-child(1) {
    padding-top: 10px;
  }
  @media ( max-width: 767px ) {
    .acc_head {
      padding: 20px 10px 0;
    }
    .acc_body {
      padding: 0 25px 20px 14px;
    }
  }

</style>