{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'plum-affiliate.css' | asset_url | stylesheet_tag }}
<div class="page-affiliate-landing">
  <div class="container-fluid">
    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    {% section 'affiliate-top-banner' %}
    {% section 'affiliate-first-section' %}
    {% section 'affiliate-second-section' %}
    {% section 'affiliate-slider-section' %}
    {% section 'affiliate-third-section' %}    
    {% section 'affiliate-fourth-section' %}
  </div>
</div>
