{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'affiliate-and-landing-pages.css' | asset_url | stylesheet_tag }} 
<div class="page-tpl">
  <div class="container-fuild">
    {% section 'slide-section-pm-plum' %}
    {% section 'pm-offers-plum' %}
  </div>
</div>