<div class="page-tpl">
  {% section 'offer_banner' %}
  <div class="container">
    <div>
      {% section 'offer-banner1' %}
      {% section 'offer-banner2' %}
      {% section 'main_offer_banner' %}
      {% section 'offer-banner3' %}
    </div>
  </div>
</div>

<style>
  section#sub-offer_banner .container.banner-title h1 {
    color: #5e1c8c;
    font-weight: 200;
    font-family: roboto;
    letter-spacing: .0em;
  }
  div#shopify-section-offer-banner2 .banner-item .content-box, div#shopify-section-offer-banner1 .banner-item .content-box, div#shopify-section-offer-banner3 .banner-item .content-box {
    position: absolute;
    top: 100%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 90%;
    text-align: center;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.12);
    border-radius: 6px;
    padding: 14px;
  }
  .item.col-12.col-sm-6.two-blocks.item-2 {
    margin-bottom: 90px;
  }
  .item.col-12.col-sm-6.two-blocks.item-2 h6 {
    margin-bottom: 6px;
    color: #5d1c8c;
    font-size: 18px;
  }
  section#sub-offer_banner {
    margin-bottom: 40px;
  }
  @media ( max-width: 767px ) {
    section#sub-offer_banner,  section#sub-offer_banner .container.banner-title h1 {
      margin-bottom: 20px;
    }
    section#sub-offer_banner .container.banner-title {
      position: initial;
      transform: none;
      padding-top: 12px;
      text-align: center;
    }
    .item.col-12.col-sm-6.two-blocks.item-2 {
      margin-bottom: 66px;
      padding: 0;
    }
  }
</style>