<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ 'sale-teaser.css' | asset_url | stylesheet_tag }} 
<div class="page-tpl">
  <div class="container-fluid">
    {% section 'sale-counter-teaser' %}
</div>
</div>