{{ 'plum-offer.css' | asset_url | stylesheet_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}
<div class="page-teaser">
  <div class="container-fluid">
    {% section 'bday_offer_banner' %}
    {% section 'bday_offer_third' %}
    {% section 'product-section-featured' %}    
 </div>
</div>
