<script>
  function showStatus(){
  	var number=$('#order_number').val()
url='https://order.plumgoodness.com/orderDetails/'+number
$.ajax({
        url:url ,
        contentType: "application/json",
        dataType: 'json',
  
        success: function(data){
          if(!data.status){
            //alert()
          	$('#text-error').text("Hey "+data.shipping_address.first_name+"! Your order hasn't shipped yet. Don't worry, we're working hard to get your package of goodness to you ASAP. You'll get an email & SMS as soon as it's on its way")
          }
          else if(data.status=='fulfilled'){
            
          	window.location.href="https://plumgoodness.clickpost.in/?order_id="+number
          }
          else{
          	$('#text-error').text('Please check the order id')
          }
        },
  		error:function(){
        	$('#text-error').text('Please check the order id')
        }
    })
  }
  function showStatusMobile(){
  	var number=$('#order_number_mobile').val()
url='https://order.plumgoodness.com/orderDetails/'+number
$.ajax({
        url:url ,
        contentType: "application/json",
        dataType: 'json',
  
        success: function(data){
          alert(data.status)
          if(data.status=='fulfilled'){
            
          	window.location.href="https://plumgoodness.clickpost.in/?order_id="+number
          }
          else{
          	$('#text-error').text('value')
          }
        },
  		error:function(){
        
        }
    })
  }
</script>
<style>
    .search .input-group .textbox {
      border: 1px solid rgba(0, 0, 0, .12);
      width: 100%;
      display: table-cell;
      font-size: 100%;
      padding: 5px;
      height: 40px;
      line-height: 125%;
      z-index: 1;
    }

    .track {
      margin-left: -50px;
      height: 30px;
      width: 50px;
      background-color: #fff;
      text-decoration: none;
    }

    .search .input-group .icon-search {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      width: 20px;
      height: 20px;
      font-size: 125%;
      padding: 0 10px;
      border-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      z-index: 2;
      margin-left: -1px;
      border: 1px solid rgba(0, 0, 0, .12);
      border-left-width: 1px;
      border-left-width: 0;
    }

    .search .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      width: 100%;
      margin-top: 10px;
    }

    .mrg-top-10 {
      margin-top: 10px !important;
    }

    .box {
      margin: 10px;
    }

    .search {
      background-color: #fff;
      border-radius: 4px;
      text-align: left;
      padding: 10px;
      -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .05);
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, .05);
    }

    .img-responsive {
      display: block;
    }

    .img-responsive.mobile {
      display: none;
    }

    @media only screen and (max-device-width: 767px) {
      .img-responsive {
        display: none;
      }

      .img-responsive.mobile {
        display: block;
      }
    }
  </style>
<div class="page-tpl">
  <div class="container">
    {% include 'breadcrumb' %}

    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <!--div class="search">
      <div class="clear-both"></div>
    <p class="input-group mrg-top-10">
      <input type="text" class="textbox" placeholder="Enter Your Tracking ID/AWB">
      <span class="icon-search" tabindex="0" role="button"></span>
    </p>
    </div-->
    <!--p>
    	<input id="order_number" type="text">
      <button onclick="showStatus()">Track</button>
      
    </p>
    <div id="text-error">
    	abc
    </div-->
    <div style="display:flex;justify-content:center">
  <!--lable style="font-size:20px;color:rgb(92, 16, 140)" for="order_id" >Order Id</lable-->
  <br>
    <input id="order_number" style="background:#f8f8f8;border-radius:20px" type="text" value="" name="Order_id" id="first_name" placeholder="Enter Order Id" required="">
  <!--lable style="font-size:20px;color:rgb(92, 16, 140)" for="cno">Enter Contact Number</lable-->
  <br>
  </div>
    
    <div style="display:flex;justify-content:center;color:rgb(92,16,140);font-weight:bold;width:50%;margin-left:25%" id="text-error">
    	
    </div>
    <br>
    <div style="display:flex;justify-content:center">
      <br>
  <button class="btn" style="background:rgb(92, 16, 140);border-radius:40px;color:white" onclick="showStatus()">Track</button>
</div>
    
    <!--div class="img-responsive">
    <!--nav class="navbar navbar-expand-sm" style="background-color: #5b128a;height: 56px;">
      <a class="navbar-brand" href="#"><img
          src="https://pyck-res-bucket.s3-ap-southeast-1.amazonaws.com/clickpost_assets/logo/plumgoodness_logo_white.png"
          style="height: 40px;padding-left: 50px;"></a>

    </nav-->
    <!--div style="text-align: center;">
      <p>Track your Order</p>
    </div>
    <div>
      <div class="search" style="width: 100%;">
        <div class="box">
          <p class="input-group mrg-top-10">
            <input id="order_number" class="textbox" type="text" placeholder="Enter Your Order No.">
            
            <br><button><span class="icon-search" style="cursor: pointer;" onclick="showStatus()">&#128269</span></button>
          </p>
          <p id="text-error"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="img-responsive mobile">
    <!--nav class="navbar navbar-expand-sm" style="background-color: #5b128a;height: 56px;">
      <a class="navbar-brand" href="#"><img
          src="https://pyck-res-bucket.s3-ap-southeast-1.amazonaws.com/clickpost_assets/logo/plumgoodness_logo_white.png"
          style="height: 40px;padding-left: 50px;"></a>

    </nav-->
    <!--div style="text-align: center;">
      <p>Track your Order</p>
    </div>
    <div >
      <div class="search">
        <div class="box">
          <p class="input-group mrg-top-10">
            <input id="order_number_mobile" class="textbox" type="text" placeholder="Enter Your Order No.">
            <button><span class="icon-search" style="cursor: pointer;" onclick="showStatusMobile()">&#128269</span></button>
          </p>
          <p id="text-error"></p>
        </div>
      </div>
    </div>
    
  </div-->
    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>

<style>
  .search .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.mrg-top-10 {
    margin-top: 10px !important;
}
  p {
    margin: 0;
    padding: 0;
}
.search .input-group .textbox {
    border: 1px solid rgba(0,0,0,.12);
    width: 100%;
    display: table-cell;
    font-size: 100%;
    padding: 5px;
    height: 40px;
    line-height: 125%;
    z-index: 1;
}
.search .input-group .icon-search {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 20px;
    height: 20px;
    font-size: 125%;
    padding: 0 10px;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
    margin-left: -1px;
    border: 1px solid rgba(0,0,0,.12);
        border-left-width: 1px;
    border-left-width: 0;
}
.icon-search {
    font-size: 200%;
}
[class*=" icon-"], [class^="icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[role="button"] {
    cursor: pointer;
}
  .search {
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
    box-shadow: 0 0 7px 2px rgba(0,0,0,.05);
}
  .clear-both {
    clear: both;
}


</style>

