<style>
  .img-responsive {
    display: block;
  }
  .img-responsive.mobile {
  display: none;
}
.show-more-butt{
  	width:10%
  }
  .review-image{
  	
  }
@media only screen and (max-device-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
  .show-more-butt{
  	width:24%
  }
  .review-image{
  	width:85%
  }
  .text{
  	font-size:85%
  }
}
  @media only screen and (min-device-width: 480px) {
  .margin-class {
    margin:32px;
  }
  
}
  .column {
  float: center;
  width: 50%;
  padding: 5px;
}
  .column1 {
  float: left;
  width: 100%;
  padding: 5px;
}

/* Clearfix (clear floats) */
 /* To chage timer background change background color code below */ 
.row::after {
  content: "";
  clear: both;
  display: table;
}
      .timer{
      text-align:center;
        margin:0px;
        background:rgb(73,24,103)
        
      }
      .borderTime{
        padding:8px;
      	border:1px solid rgb(236,199,93);
        border-radius:3px;
        font-size:30px;
        background:rgb(73,24,103);
          color:rgb(236,199,93)
      }
  .dottedline{
  	border-bottom:1px dashed purple
  }
  
</style>
<script>
  function showmore1(){
  	document.getElementById("showless1").style.display= "block";
    document.getElementById("showmore1").style.display= "none";
  }
  function showless1(){
  	document.getElementById("showless1").style.display= "none";
    document.getElementById("showmore1").style.display= "block";
  }
  function showmore2(){
  	document.getElementById("showless2").style.display= "block";
    document.getElementById("showmore2").style.display= "none";
  }
  function showless2(){
  	document.getElementById("showless2").style.display= "none";
    document.getElementById("showmore2").style.display= "block";
  }
  function showc1(){
  	document.getElementById("c1").style.display= "block";
    document.getElementById("c2").style.display= "none";
  }
  function showc2(){
  	document.getElementById("c1").style.display= "none";
    document.getElementById("c2").style.display= "block";
  }
  function showc3(){
  	document.getElementById("c3").style.display= "block";
    document.getElementById("c4").style.display= "none";
  }
  function showc4(){
  	document.getElementById("c3").style.display= "none";
    document.getElementById("c4").style.display= "block";
  }
  function showc5(){
  	document.getElementById("c5").style.display= "block";
    document.getElementById("c6").style.display= "none";
  }
  function showc6(){
  	document.getElementById("c5").style.display= "none";
    document.getElementById("c6").style.display= "block";
  }
  function showc7(){
  	document.getElementById("c7").style.display= "block";
    document.getElementById("c8").style.display= "none";
  }
  function showc8(){
  	document.getElementById("c7").style.display= "none";
    document.getElementById("c8").style.display= "block";
  }
  
</script>
<div class="margin-class">
  <div class="text" style="margin:15px">
    <br>
    <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/INFLUENCER_MARKETING_POLICY.png?v=1609316221">
    <br>
    <br>
    <p>
      Influencer marketing can play a significant role in creating brand awareness, reaching out to
  potential customers and engaging with existing ones. At Plum, we use influencer campaigns to
  connect, educate and engage with our current and potential customers. 
    </p>
    <p>
      As the influencer campaign marketing space continues to grow and evolve, we think it’s important to have an honest, ethical and meaningful approach towards influencer marketing, in line with our values.
    </p>
    <p>Keeping in mind the overall objective of influencer-published content not misguiding or misinforming the audience in any way, Plum has issued specific influencer policy guidelines for all our campaigns.</p>
      <p>These guidelines are applicable to Plum as well as to Plum BodyLovin’. Got more ideas about improving our influencer marketing approach? Get in touch at hello@plumgoodness.com. 

    </p>
  </div>
  <div id="showmore1">
  	<img class="show-more-butt" src="https://cdn.shopify.com/s/files/1/0390/2985/files/SHOW_MORE.png?v=1609316221" style="float:right;margin-right:3%" onclick="showmore1()">
  </div>
  <div id="showless1" style="display:none">
    <div class="text" style="margin:15px">
      <p style="font-weight:bold">The policy is as below:</p>
      <p style="font-weight:bold"><span style="font-weight:bold;font-size:larger">&#xb7;</span>Full disclosure of paid sponsorship and collaborations</p>
      <p>All influencer partners are required to declare and be transparent about paid collaborations with
the brand for all content published in association with Plum. In cases where products are obtained free of charge from Plum for review, the same has to be mentioned by the influencer.
</p>
      <p style="font-weight:bold"><span style="font-weight:bold;font-size:larger">&#xb7;</span>Authentic and honest product and brand reviews</p>
      <p>We encourage all influencer partners to give us their honest and well-considered opinions about
the products shared with them. Specifically, Plum does not encourage any influencer partner to
promote the brand or any given product if they do not like the product or in case the products do
not suit them.
</p>
      <p style="font-weight:bold"><span style="font-weight:bold;font-size:larger">&#xb7;</span>No to beauty-standards, secrets and false-claims</p>
      <p>We do not encourage our influencer partners to promote unrealistic beauty standards or to make any false-claims or promises about Plum products. Plum does not promote or encourage notions about skin colour, body type or hair type and requires its influencer partners to do the same.</p>
      <p style="font-weight:bold"><span style="font-weight:bold;font-size:larger">&#xb7;</span>No greenwashing</p>
      <p>None of the content published by influencer partners is aimed at making false claims about
sustainability efforts undertaken by the brand. The influencers are only allowed to state facts
based on evidence with regard to the sustainability initiatives of Plum.
</p>
      <p>This policy statement is communicated to all the influencer partners and third-party influencer
agencies that the brand works with. Influencer partners are expected to follow the above-mentioned guidelines at all times while collaborating with Plum.
</p>
    </div>
      <br>
    <img class="show-more-butt" src="https://cdn.shopify.com/s/files/1/0390/2985/files/SHOW_LESS.png?v=1609316221" style="float:right;margin-right:3%" onclick="showless1()">
  </div>
  
  
  
  <br>
  <hr class="dottedline">
  <br>
  <div class="text" style="margin:15px">
    <img class="review-image" src="https://cdn.shopify.com/s/files/1/0390/2985/files/ONLINE_REVIEWS_POLICY.png?v=1609316221">
    <br>
    <br>
    <p>Our policy on reviews states that we don’t ever buy reviews, delete, edit or manipulate them with a view to boost our rankings. Any influencer collaborations that result in reviews are explicitly identified as such.</p>
    <p>How many stars? Has anyone else used this? How long does this product last? Any side effects?</p>
    <p>Just some questions that cross our minds before we decide whether to “Add to Cart”. Reviews are an important source of information and opinions of “people like us”. For brands, reviews go a long way in determining sales of products.For us at Plum, reviews are also our #1 source of feedback from Plumsters on how we are doing. We take your reviews very, very seriously. </p>
  </div>
  <div id="showmore2">
  	<img class="show-more-butt" src="https://cdn.shopify.com/s/files/1/0390/2985/files/SHOW_MORE.png?v=1609316221" style="float:right;margin-right:3%" onclick="showmore2()">
  </div>
  <div id="showless2" style="display:none">
    <div class="text" style="margin:15px">
      <p>With transparency as a core value, and “clean, real, good” being what we stand for, we want to make sure that the reviews you see of Plum products are:</p>
      <p>1. From real people who have used them, and</p>
      <p>2. Reflective of a true, average rating of people’s experience with the product</p>
      <p>We strive to ensure the highest standards of transparency (which includes not paying people (or bots) to write reviews, editing/hiding/deleting low-star reviews etc) on plumgoodness.com as well as on other online marketplaces. The objective of this document is to state clearly as to how we deal with and view online reviews, so that you, our dear Plumster, can take informed decisions, well knowing it’s the truth.</p>
    </div>
      <br>
    <img class="show-more-butt" src="https://cdn.shopify.com/s/files/1/0390/2985/files/SHOW_LESS.png?v=1609316221" style="float:right;margin-right:3%" onclick="showless2()">
  </div>
  <br>
  <hr class="dottedline">
  <br>
  <div class="img-responsive">
    <div class="row">
      <div id="c1" class="column" style="text-align:center" onclick="showc2()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/1D_rip_buttons.png?v=1609334290">
      </div>
      <div id="c2" class="column" style="text-align:center;display:none" onclick="showc1()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/1UP_rip_buttons.png?v=1609334290">
        <br>
        <div class="text" style="text-align:left;margin-left:25px">
          <p>We cannot, and therefore do not, exert full editorial control on e-commerce marketplace content, including reviews. However:</p>
          <p>1. We do not create or request to create fake reviews, including where people are incentivized/reimbursed to buy products to leave “genuine” reviews - we believe those aren’t likely to reflect a fair opinion.</p>
          <p>2. We do not delete negative reviews. Where the ability to resolve issues and subsequently request review edits exist, we use that option. Any edits are at the reviewer’s sole discretion.</p>
          <p>3. We work with influencers (on and off of e-commerce platforms). We have a policy in place for influencer collaborations. Any collaborations with and reviews left by influencers are identified as such explicitly, and will be easily distinguishable from customer reviews. Influencers are also encouraged to give their honest feedback, irrespective of commercial considerations.</p>
        </div>
      </div>
      <div id="c3" class="column" style="text-align:center" onclick="showc4()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/2D_rip_buttons.png?v=1609334290">
      </div>
      <div id="c4" class="column" style="text-align:center;display:none" onclick="showc3()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/2UP_rip_buttons.png?v=1609334290">
        <br>
        <div class="text" style="text-align:left;margin-left:25px">
          <p>Our policy here is simple:</p>
          <p>1. We do not pay people to write reviews. We do not send out free product or discounts in exchange for reviews. All “Verified Purchase” reviews are basis actual purchases by real customers.</p>
          <p>2. We do incentivize Plumsters (through Goodness Land Reward Points) to leave reviews for products they have purchased. Points are credited automatically irrespective of the review/rating content. There are no “bonus points” for positive reviews.</p>
          <p>3. We do not edit, hide or delete reviews, no matter how scathing. We do however reserve the right to delete reviews whose contents are profane or obscene (fortunately there aren’t too many of them).</p>
          <p>4. We do our best to respond to negative reviews and resolve any problems. If the issue is resolved to the customer’s satisfaction, we may request for the review to be edited, at the customer’s discretion. We do not edit them ourselves.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="img-responsive mobile" style="margin-left:8px;margin-right:8px">
    <div class="row">
      <div id="c5" class="column1" style="text-align:center" onclick="showc6()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/1D_rip_buttons.png?v=1609334290">
      </div>
      <div id="c6" class="column1" style="text-align:center;display:none" onclick="showc5()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/1UP_rip_buttons.png?v=1609334290">
        <br>
        <div class="text" style="text-align:left;margin-left:25px">
          <p>We cannot, and therefore do not, exert full editorial control on e-commerce marketplace content, including reviews. However:</p>
          <p>1. We do not create or request to create fake reviews, including where people are incentivized/reimbursed to buy products to leave “genuine” reviews - we believe those aren’t likely to reflect a fair opinion.</p>
          <p>2. We do not delete negative reviews. Where the ability to resolve issues and subsequently request review edits exist, we use that option. Any edits are at the reviewer’s sole discretion.</p>
          <p>3. We work with influencers (on and off of e-commerce platforms). We have a policy in place for influencer collaborations. Any collaborations with and reviews left by influencers are identified as such explicitly, and will be easily distinguishable from customer reviews. Influencers are also encouraged to give their honest feedback, irrespective of commercial considerations.</p>
        </div>
      </div>
      <div id="c7" class="column1" style="text-align:center" onclick="showc8()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/2D_rip_buttons.png?v=1609334290">
      </div>
      <div id="c8" class="column1" style="text-align:center;display:none" onclick="showc7()">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/2UP_rip_buttons.png?v=1609334290">
        <br>
        <div class="text" style="text-align:left;margin-left:25px">
          <p>Our policy here is simple:</p>
          <p>1. We do not pay people to write reviews. We do not send out free product or discounts in exchange for reviews. All “Verified Purchase” reviews are basis actual purchases by real customers.</p>
          <p>2. We do incentivize Plumsters (through Goodness Land Reward Points) to leave reviews for products they have purchased. Points are credited automatically irrespective of the review/rating content. There are no “bonus points” for positive reviews.</p>
          <p>3. We do not edit, hide or delete reviews, no matter how scathing. We do however reserve the right to delete reviews whose contents are profane or obscene (fortunately there aren’t too many of them).</p>
          <p>4. We do our best to respond to negative reviews and resolve any problems. If the issue is resolved to the customer’s satisfaction, we may request for the review to be edited, at the customer’s discretion. We do not edit them ourselves.</p>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <hr class="dottedline">
  <br>
  <div class="text" style="margin:15px">
    <p style="font-size:larger;color:purple"> Your turn to “review” our review policy!</p>
    <p> Thoughts on the above? Or just about anything else? Hit us up at <a href="mailto:hello@plumgoodness.com">hello@plumgoodness.com! </a></p>
  </div>
  
</div>