<script>// <![CDATA[
        // Set the date we're counting down to
        var countDownDate = new Date("October 26, 2020 0:0:0").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+days*24;
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with ids
          if(hours>=10)
            document.getElementById("hours").innerHTML=hours;
          else
            document.getElementById("hours").innerHTML="0"+hours;
          
          if(minutes>=10)
          	document.getElementById("minutes").innerHTML=minutes;
          else
            document.getElementById("minutes").innerHTML="0"+minutes;
          if(seconds>=10)
          	document.getElementById("seconds").innerHTML=seconds;
          else{
            document.getElementById("seconds").innerHTML="0"+seconds;
          }
          if(hours>=10)
            document.getElementById("hours1").innerHTML=hours;
          else
            document.getElementById("hours1").innerHTML="0"+hours;
          
          if(minutes>=10)
          	document.getElementById("minutes1").innerHTML=minutes;
          else
            document.getElementById("minutes1").innerHTML="0"+minutes;
          if(seconds>=10)
          	document.getElementById("seconds1").innerHTML=seconds;
          else{
            document.getElementById("seconds1").innerHTML="0"+seconds;
          }


            // If the count down is over, write some text 
            
        }, 1000);
    
// ]]></script>
    <style>
  .img-responsive {
    display: block;
  }
  .img-responsive.mobile {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
}
  .column {
  float: center;
  width: 20%;
  padding: 5px;
}
  .column1 {
  float: left;
  width: 24%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
      .timer{
      text-align:center;
        margin:50px;
        
      }
      .borderTime{
        padding:8px;
      	border:1px solid black;
        border-radius:10px;
        font-size:30px;
        background:white
      }
</style>
    <div class="img-responsive" style="background:rgb(175,105,168)">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_LIP_BALM_TEASER_DESK.gif?v=1603168412">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/02_LIP_BALM_TEASER_DESK.gif?v=1603168412">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_LIP_BALM_TEASER_DESK_v3.jpg?v=1603515732">
<div class="timer">
  <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/04_COPY.png?v=1603283140">
  
  <br><span class="borderTime" >
  <span id="hours"></span>hrs : <span id="minutes"> </span>min : <span id="seconds"> </span>sec
  </span> </div>
      <div style="background:#fff0f4;text-align:center">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/CTA_1_69929ad2-9597-4b81-ac7e-05b3cb6f1a9e.png?v=1603168411" style="width:30%;padding:40px;padding-bottom:0;cursor:pointer" onclick="location.href='https://www.instagram.com/plumgoodness/'">
      	<br>
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/05_COPY.png?v=1603168409" style="width:30%;margin-top:-13px;padding-bottom:40px">
      </div>
      </div>
<div class="img-responsive mobile" style="background:rgb(175,105,168)">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/01_TEASER-MOB.gif?v=1603179588">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/02_TEASER-MOB.gif?v=1603179587">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/03_TEASER-MOB_1.gif?v=1603282825">
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/04_inout.jpg?v=1603515732">
<div class="timer">
  <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/04_COPY.png?v=1603283140">
  <br><span class="borderTime" style="font-size:18px;padding:8px">
  <span id="hours1"></span>hrs : <span id="minutes1"> </span>min : <span id="seconds1"></span>sec
  </span> </div>
      <div style="background:#fff0f4;text-align:center">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/05_CTA.png?v=1603179587" style="padding:40px;padding-bottom:0;cursor:pointer" onclick="location.href='https://www.instagram.com/plumgoodness/'">
      	<br>
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/05_COPY_1.png?v=1603179586" style="width:85%;margin-top:-13px;padding-bottom:40px">
      </div>
</div>
<!--div id="instagram-stories-box"></div-->
      <div id="instagram-feed-box"></div>
<div class="img-responsive" style="background:rgb(175,105,168)">
      <div style="background:#fdabc0;text-align:center">
        <div style="padding:20px">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_CTA.png?v=1603168409" style="width:30%;padding:40px;padding-bottom:0;cursor:pointer" onclick="window.scrollTo(0,document.body.scrollHeight)">
      	<br>
          <br>
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_COPY.png?v=1603168409" style="width:30%;margin-top:-13px;padding-bottom:40px">
        </div>
        </div>
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_B_bg.jpg?v=1603168410">
</div>
     
      <div class="img-responsive mobile" style="background:rgb(175,105,168)">
      <div style="background:#fdabc0;text-align:center;margin-top:-40px">
        <div style="padding:30px">
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_CTA_1.png?v=1603179586" style="padding:40px;padding-bottom:0;cursor:pointer" onclick="window.scrollTo(0,document.body.scrollHeight)">
      	<br>
          <br>
        <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_COPY_1.png?v=1603179586" style="width:85%;margin-top:-13px;padding-bottom:40px">
        </div>
        </div>
      <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/06_B_BG_1.jpg?v=1603179587">
</div>


    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}

