<div class="page-tpl blog-page-info">
  <div class="page-top-sec">
    <div class="container">
      <header class="page-header">
        <h2>
          {% include 'multilang' with page.title %}
        </h2>      
      </header>
    </div>
  </div>
  {% section 'blog-page-tab-section' %}
</div>

<style>
  .blog-page-info{
    background:#fff;
    padding-bottom:45px;
  }
  .blog-page-info .page-top-sec .page-header h2{
    margin-bottom: 0;
    color: #5e0c8c;
    font-weight: 400;
    padding: 25px 0;
    font-family: roboto;
    font-size: 40px;
    text-transform: inherit;
  }
  .blog-page-info .homepage-blog-tab-sec{
    padding:25px 0 40px; 
  }
  .blog-page-info .blog-tab-sec-data .list-blog{
    flex-wrap:wrap !important; 
  }
  .blog-page-info .blog-tab-sec-data .list-blog li.blog-item{
    width:33.33% !important;
    margin-bottom:35px !important;
  }
  .blog-page-info .blog-tab-sec-data .list-blog li.blog-item .actions a.btn{
    color:#fff !important;
    text-decoration:none !important;
    text-transform:inherit !important;
    margin-bottom:0 !important;
  }
  .blog-page-info .blog-tab-sec-data p.text-center{
    padding-top: 30px;
    border-top: 1px solid #d7d7d7; 
  }
  .blog-page-info .blog-tab-sec-data .list-blog li.blog-item  .article-excerpt .des{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
    padding-bottom:20px;
    text-transform: none;
  }
  .blog-page-info  .share-icons-and-readmore{
    align-items: center;
    display: flex;
  }
  .blog-page-info .share-icons-and-readmore .blog-share-icon{
    margin-left:15px; 
  }
  .blog-page-info .share-icons-and-readmore .blog-share-icon span{
    font-size: 14px;
    text-transform: inherit;
    font-weight: 400; 
  }
  .blog-page-info .share-icons-and-readmore .blog-share-icon a{
    font-size: 13px;
    padding: 5px; 
  }
  .blog-page-info .share-icons-and-readmore .blog-share-icon a .fa{
    position: relative;
    top: 7px; 
  }
  @media ( max-width: 767px ) {
    .blog-page-info .page-top-sec .page-header h2 {
      font-size: 26px;
      padding-bottom: 0;
    }
    .blog-page-info .blog-tab-sec-data .list-blog li.blog-item{
      width:100% !important; 
      margin-bottom:25px !important;
    }
    .blog-page-info .blog-tab-sec-data .list-blog li.blog-item .article-title{
      font-size: 16px !important;
      min-height: unset !important;
    }
    .blog-page-info{
      padding-bottom:30px; 
    }
  }
</style>

