<html>
  <style>
    #ib-community-frame{ height: 960px; display: block; }
      @media (max-width: 832px){
        #ib-community-frame{ height: 1500px; }
      }
  </style>
  <body>
    <iframe id='ib-community-frame' width='100%' scrolling="no" style='border: none;min-height: 1600px;' allow="clipboard-write" src='https://games.influencerbit.com/candy_crush/67'></iframe>
  </body>
  <script type="text/javascript">
    {
      function funinit() {
        addSearchIframe()
      }
      function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      }
      function addSearchIframe() {  
        const iframeObj = document.getElementById("ib-community-frame");
        if(iframeObj) {
            let iframeSrc = iframeObj.src
            iframeSrc = iframeSrc + window.location.search
            var ul = new URL(iframeSrc)
            let player = getCookie("gameIbUser")
            if(player) {
                let playerObj = JSON.parse(player)
                let playerId = playerObj.player_id
                let playerEmail = playerObj.email
                ul.searchParams.set("ib_gamer_id", playerId)
                ul.searchParams.set("ib_gamer_email", playerEmail)
            }
            iframeObj.src = ul
        }
      }
      funinit()
    }
  </script>
</html>
