{{ 'plum-teaser.css' | asset_url | stylesheet_tag }}
<div class="page-teaser">
  <div class="container-fluid">
    {% section 'teaser-top-banner-new' %}
    {% section 'counter-bottom' %}    
  </div>
</div>
