
<div class="page-careers">
  <div class="careers-banner">
    <div class="container">
      <h2>careers</h2>   
    </div> 
  </div>
  <div class="content">
    <div class="container-padd60">
      <div class="row"><div class="col-md-5">
        <div class="text-wrap">
          <h2>Health, beauty, passion</h2>
          <p>That Plum product you saw recently? Every single Plum employee had their inputs in making that product what it is.<br>
            Everyone at Plum loves it? It'll reach the shelves<br>
            Even if one doesn't? It'll reach our goodness labs... to get better</p>
          <p>Plum people are a bunch of enthusiastic, passionate, and needless to say, brilliant folks who think org charts, department, designations, and hierarchies should remain where they belong i.e. Harappa civilisation.</p>
          <p>We love what we do. We create goodness. And we have fun doing it. We love people who like good design, great-to-use products and above all, believe in doing good & being good.</p>
          <p>You could be in sales, marketing, product development, manufacturing or accounts. No matter your field of expertise or years of experience, you'll leave the Plum office having learnt something new after tangibly contributing to the larger 'Plum goodness', every day.</p>
          <p>If you think you'd be a good fit, here's where you should be sending your resume: <a href="mailto:plumjobs@plumgoodness.com">plumjobs@plumgoodness.com</a></p>
        </div>            
        </div>
        <div class="col-md-7 d-flex justify-content-right">
          <img src="https://cdn.shopify.com/s/files/1/0257/8766/2417/files/health-beauty-passion.png?v=1577012732" alt="health, beauty, passion"  />
        </div></div>

    </div>
  </div>
  {% comment %}
  <div class="worked-tab">
    <div class="container">
      <h2>place you've ever worked</h2>
      <p>Whether it's our supportive workplace culture, competitive benefits, flex time, internal growth opportunities, <br>or various company outings, we're sure you'll find your fit at Plum.</p>
      <div class="grid-tab">
        <div class="gridbox">
          <h4>flexible hours</h4>
        </div>
        <div class="gridbox">
          <h4>benefits & perks</h4>
        </div>
        <div class="gridbox">
          <h4>mission driven team</h4>
        </div>
        <div class="gridbox">
          <h4>unlimited vacation </h4>
        </div>
        <div class="gridbox">
          <h4>we work membership</h4>
        </div>
        <div class="gridbox">
          <h4>commuting benefits</h4>
        </div>
      </div>
    </div>

  </div>
  {% endcomment %}
</div>

<style>
  .main-content {
    display: block;
    min-height: 500px;
    padding-bottom: 0;
  }
  .careers-banner{display:flex; background:url(https://cdn.shopify.com/s/files/1/0257/8766/2417/files/banner-careers.jpg?v=1577012730) center center no-repeat; height:395px;}
  .careers-banner .container {
    align-content: center;
    display: flex;
    align-items: center;
  }
  .careers-banner h2{font-family: 'Nunito', sans-serif; font-weight:700; font-size:48px; letter-spacing:2px; color:#fff; position:relative; left:20%; margin:0; display:block;}
  .page-careers .content {
    padding: 80px 0;
  }
  .page-careers .content .container .row {
    align-content: center;
    align-items: center;
  }
  .page-careers .content .text-wrap {
    max-width: 620px;
    text-align: left;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .page-careers .content .text-wrap h2{
    color: #5e0d8b;
    font-family: roboto;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    display: block;
  }
  .page-careers .content .text-wrap p{color:#000000; font-family: 'Nunito', sans-serif; font-weight:300; font-size:16px; margin-bottom:20px;}
  .page-careers .content .text-wrap p a{color:#5e0d8d;}
  .justify-content-right{justify-content:right;}

  .worked-tab {
    background: #f4f4f4;
    padding: 60px 0;
  }
  .worked-tab h2{
    color: #5e0d8b;
    font-family: roboto;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    display: block;
  }
  .worked-tab p{color:#000000; font-family: 'Nunito', sans-serif; font-weight:300; font-size:16px; margin-bottom:20px;  text-align:center;}
  .worked-tab p a{color:#5e0d8d;}
  .grid-tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 66%;
    margin: 0 auto; align-content: center;
    justify-content: center;
  }
  .gridbox {
    background: url(https://cdn.shopify.com/s/files/1/0257/8766/2417/files/bg-blue-tab.png?v=1577012729) center center no-repeat;
    display: flex;
    align-items: center;
    height: 181px;
    margin: 40px 40px 20px;
    justify-content: center;
    width: 160px;
    text-align: center;
  }
  .gridbox h4{color:#ffffff; font-family: 'Nunito', sans-serif; font-weight:300; font-size:26px;}

  @media only screen and (max-width: 1199px) {
    .grid-tab{max-width:100%;}
    .gridbox{margin:30px 25px 20px;}

  }

  @media only screen and (max-width: 767px) {
    .page-careers .content .text-wrap{max-width:100%;}
    .page-careers .content .text-wrap h2, .worked-tab h2 {
      font-size: 26px;
      margin-bottom: 14px;
    }
    .page-careers .content {
      padding: 40px 0;
    }
    .worked-tab {
      padding: 30px 0;
    }
  }
</style>