<!--script to push datalayer data in GTM ends-->
<script>// <![CDATA[
        // Set the date we're counting down to
        var countDownDate = new Date("August 14, 2020 0:0:0").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)+days*24);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with ids
//           if(hours>=10)
//             document.getElementById("hours").innerHTML=hours;
//           else
//             document.getElementById("hours").innerHTML="0"+hours;
//           if(minutes>=10)
//           	document.getElementById("minutes").innerHTML=minutes;
//           else
//             document.getElementById("minutes").innerHTML="0"+minutes;
//           if(seconds>=10)
//           	document.getElementById("seconds").innerHTML=seconds;
//           else{
//             document.getElementById("seconds").innerHTML="0"+seconds;
          }


            // If the count down is over, write some text 
            
        }, 1000);
    
// ]]></script>
  <div>
    <div style="text-align:center">         
      <a href="https://plumgoodness.com/collections/offer"><div class="row">
    	   <img src="https://cdn.shopify.com/s/files/1/0390/2985/files/DesktopSlider.gif?v=1597226967" class="img-responsive careerpage" style="width:98%;margin-left:1%">
    		<img src="https://cdn.shopify.com/s/files/1/0390/2985/files/Mobile-Slider.gif?v=1597226963" class="img-responsive careerpage mobile">
        </div>  </a>
</div>
      <style>
        .img-responsive.mobile {
          display: none;
        }

        @media only screen and (max-device-width: 480px) {
          .img-responsive {
            display: none;
          }
          .img-responsive.mobile {
            display: flex;
            height:462px;
            width:462px
            
          }
        }
        
      </style>
      <div class="countdowntimer desctimer" style="text-align:center;border-top: 1px solid #eaebeb;border-bottom: 0px;margin:5px">
            <div style="position:relative;font-size:30px;color:#5e0c8c;padding:3px;font-weight:bold">
            <span>Independence Day Sale starts in</span>
          </div>
        <div id="clockdiv" style="margin-bottom: 10px;">
          
            <div>
            <span id="hours">00</span>
            <div class="smalltext">Hrs</div>
          </div>
          <div>
            <span id="minutes">00</span>
            <div class="smalltext">Min</div>
          </div>
          <div>
            <span id="seconds">00</span>
            <div class="smalltext">Sec</div>
          </div>
         
           
        </div>
    </div>
          <style>
            .smalltext{
            	font-size:24px
            }
            .countdowntimer.desctimer #clockdiv {
              font-family: sans-serif;
              color: #fff;
              display: inline-block;
              font-weight: 100;
              font-size: 45px;
              padding-bottom: 0;
              line-height:55px;
          }
            .countdowntimer.desctimer #clockdiv div > span {
              padding: 6px;
              border-radius: 3px;
              background: #a569bd ;
              display: inline-block;
              font-size:32px
          }
            .countdowntimer.desctimer #clockdiv > div {
              padding: 4px;
              border-radius: 3px;
              background: #5e0c8c;
              display: inline-block;
              text-align: center;
          }
          </style>
    </div>
